/* background */

.bg_gray_700 {
  background: $gray_700 !important;
}

.bg_gray_700-v:hover {
  background: $gray_700 !important;
}

.bg_gray_600 {
  background: $gray_600 !important;
}

.bg_gray_600-v:hover {
  background: $gray_600 !important;
}

.bg_gray_500 {
  background: $gray_500 !important;
}

.bg_gray_500-v:hover {
  background: $gray_500 !important;
}

.bg_gray_400 {
  background: $gray_400 !important;
}

.bg_gray_400-v:hover {
  background: $gray_400 !important;
}

.bg_gray_300 {
  background: $gray_300 !important;
}

.bg_gray_300-v:hover {
  background: $gray_300 !important;
}

.bg_gray_200 {
  background: $gray_200 !important;
}

.bg_gray_200-v:hover {
  background: $gray_200 !important;
}

.bg_gray_100 {
  background: #373c54ff !important;
}

.bg_gray_100-v:hover {
  background: #373c54ff !important;
}

.bg_gray_0 {
  background: $gray_0 !important;
}

.bg_gray_00-v:hover {
  background: $gray_0 !important;
}


/* background primary */

.bg_primary_500 {
  background: $primary_500 !important;
}

.bg_primary_500-v:hover {
  background: $primary_500 !important;
}

.bg_primary_400 {
  background: $primary_400 !important;
}

.bg_primary_400-v:hover {
  background: $primary_400 !important;
}

.bg_primary_300 {
  background: $primary_300 !important;
}

.bg_primary_300-v:hover {
  background: $primary_300 !important;
}

.bg_primary_200 {
  background: $primary_200 !important;
}

.bg_primary_200-h:hover {
  background: $primary_200 !important;
}

.bg_primary_100 {
  background: $primary_100 !important;
}

.bg_primary_100-h:hover {
  background: $primary_100 !important;
}

.bg_primary_0 {
  background: $primary_0 !important;
}

.bg_primary_0-v:hover {
  background: $primary_0 !important;
}

/* background secondary */

.bg_secondary_200 {
  background: $secondary_200 !important;
}

.bg_secondary_200-v:hover {
  background: $secondary_200 !important;
}

.bg_secondary_100 {
  background: $secondary_100 !important;
}

.bg_secondary_100-v:hover {
  background: $secondary_100 !important;
}

.bg_secondary_0 {
  background: $secondary_0 !important;
}

.bg_secondary_0-v:hover {
  background: $secondary_0 !important;
}


.bg_transparent {
  background: transparent !important;
}


/* background-other */

.bg_success_0 {
  background: $success_0 !important;
}

.bg_success_100 {
  background: $success_100 !important;
}

.bg_success_200 {
  background: $success_200 !important;
}


.bg_error_0 {
  background: $error_0 !important;
}

.bg_error_100 {
  background: $error_100 !important;
}

.bg_error_200 {
  background: $error_200 !important;
}


.bg_info_0 {
  background: $info_0 !important;
}

.bg_info_100 {
  background: $info_100 !important;
}

.bg_info_200 {
  background: $info_200 !important;
}


.bg_warning_0 {
  background: $warning_0 !important;
}

.bg_warning_100 {
  background: $warning_100 !important;
}

.bg_warning_200 {
  background: $warning_200 !important;
}

/* backdrop-filter */

.bf_unset {
  backdrop-filter: unset !important;
}

.bf_none {
  backdrop-filter: none !important;
}

.bf_blur_50 {
  backdrop-filter: blur(50px);
}


/* deprecated */

.bg_primary_900 {
  background: $primary_900 !important;
}

.bg_primary_800 {
  background: $primary_800 !important;
}

.bg_primary_700 {
  background: $primary_700 !important;
}

.bg_primary_600 {
  background: $primary_600 !important;
}

.bg_gradient_light {
  background: $bg_gradient_light !important;
}

.bg_gradient_dark {
  background: $bg_gradient_dark !important;
}

.bg_active {
  background: $color_active !important;
}

.bg_filter_unset {
  backdrop-filter: unset !important;
}