/* Height */

.h_unset {
  height: unset !important;
}


.h_20 {
  height: 20px !important;
}

.h_25 {
  height: 25px !important;
}

.h_30 {
  height: 30px !important;
}

.h_35 {
  height: 35px !important;
}

.h_40 {
  height: 40px !important;
}


.h_40p {
  height: 40% !important;
}

.h_50p {
  height: 50% !important;
}

.h_55p {
  height: 55% !important;
}

.h_60p {
  height: 60% !important;
}

.h_65p {
  height: 65% !important;
}

.h_70p {
  height: 70% !important;
}

.h_75p {
  height: 75% !important;
}

.h_80p {
  height: 80% !important;
}

.h_85p {
  height: 85% !important;
}

.h_90p {
  height: 90% !important;
}

.h_95p {
  height: 95% !important;
}

.h_100p {
  width: 100% !important;
}

.vh_100 {
  width: 100vh !important;
}


.h_20 {
  height: 20px !important;
}

.h_25 {
  height: 25px !important;
}

.h_30 {
  height: 30px !important;
}

.h_35 {
  height: 35px !important;
}

.h_40 {
  height: 40px !important;
}

.h_45 {
  height: 45px !important;
}

.h_50 {
  height: 50px !important;
}

.h_55 {
  height: 55px !important;
}

.h_56 {
  height: 56px !important;
}

.h_60 {
  height: 60px !important;
}

.h_65 {
  height: 65px !important;
}

.h_70 {
  height: 70px !important;
}

.h_75 {
  height: 75px !important;
}

.h_80 {
  height: 80px !important;
}

.h_85 {
  height: 85px !important;
}

.h_90 {
  height: 90px !important;
}

.h_95 {
  height: 95px !important;
}

.h_100 {
  height: 100px !important;
}

.h_140 {
  height: 140px !important;
}

.h_150 {
  height: 150px !important;
}


// deprecated
.full-height {
  height: 100% !important;
}


/* min-height */

.minh_100p {
  min-height: 100% !important;
}

.minh_25 {
  min-height: 25px !important;
}

.minh_30 {
  min-height: 30px !important;
}

.minh_32 {
  min-height: 28px !important;
}

.minh_40 {
  min-height: 40px !important;
}

.minh_85 {
  min-height: 85px !important;
}

.minh_125 {
  min-height: 125px !important;
}

.minh_200 {
  min-height: 200px !important;
}

.minh_100 {
  min-height: 100px !important;
}

.minh_250 {
  min-height: 250px !important;
}

.minh_300 {
  min-height: 300px !important;
}

.minh_400 {
  min-height: 400px !important;
}

.minh_500 {
  min-height: 500px !important;
}

.minh_600 {
  min-height: 600px !important;
}

.minh_700 {
  min-height: 700px !important;
}

.minh_800 {
  min-height: 800px !important;
}

.minh_850 {
  min-height: 850px !important;
}

.minh_900 {
  min-height: 900px !important;
}

/* max-height */


.maxh_unset {
  max-height: unset;
}

.maxh_16 {
  max-height: 16px;
  height: 100%;
}

.maxh_20 {
  max-height: 20px;
  height: 100%;
}

.maxh_25 {
  max-height: 25px;
  height: 100%;
}

.maxh_30 {
  max-height: 30px;
  height: 100%;
}

.maxh_32 {
  max-height: 28px;
  height: 100%;
}

.maxh_35 {
  max-height: 35px;
  height: 100%;
}

.maxh_40 {
  max-height: 40px;
  height: 100%;
}

.maxh_45 {
  max-height: 40px;
  height: 100%;
}

.maxh_50 {
  max-height: 50px;
  height: 100%;
}

.maxh_60 {
  max-height: 60px;
  height: 100%;
}

.maxh_70 {
  max-height: 70px;
  height: 100%;
}

.maxh_80 {
  max-height: 80px;
  height: 100%;
}

.maxh_90 {
  max-height: 90px;
  height: 100%;
}

.maxh_100 {
  max-height: 100px;
  height: 100%;
}

.maxh_110 {
  max-height: 110px;
  height: 100%;
}

.maxh_120 {
  max-height: 120px;
  height: 100%;
}

.maxh_140 {
  max-height: 140px;
  height: 100%;
}

.maxh_150 {
  max-height: 150px;
  height: 100%;
}

.maxh_180 {
  max-height: 180px;
  height: 100%;
}

.maxh_200 {
  max-height: 200px;
  height: 100%;
}

.maxh_220 {
  max-height: 220px;
  height: 100%;
}

.maxh_250 {
  max-height: 250px;
  height: 100%;
}

.maxh_300 {
  max-height: 300px;
  height: 100%;
}

.maxh_300 {
  max-height: 300px;
  height: 100%;
}

.maxh_400 {
  max-height: 400px;
  height: 100%;
}

.maxh_450 {
  max-height: 450px;
  height: 100%;
}

.maxh_500 {
  max-height: 500px;
  height: 100%;
}

.maxh_550 {
  max-height: 550px;
  height: 100%;
}

.maxh_600 {
  max-height: 600px;
  height: 100%;
}

.maxh_650 {
  max-height: 650px;
  height: 100%;
}

.maxh_640 {
  max-height: 640px;
  height: 100%;
}

.maxh_700 {
  max-height: 700px;
  height: 100%;
}

.maxh_750 {
  max-height: 750px;
  height: 100%;
}

.maxh_800 {
  max-height: 800px;
  height: 100%;
}

.maxh_850 {
  max-height: 850px;
  height: 100%;
}

.maxh_900 {
  max-height: 900px;
  height: 100%;
}

.maxh_950 {
  max-height: 950px;
  height: 100%;
}

.maxh_1000 {
  max-height: 1000px;
  height: 100%;
}

.maxh_1200 {
  max-height: 1200px;
  height: 100%;
}

.maxh_1400 {
  max-height: 1400px;
  height: 100%;
}

.maxh_1500 {
  max-height: 1500px;
  height: 100%;
}

.maxh_1700 {
  max-height: 1700px;
  height: 100%;
}

.maxh_2000 {
  max-height: 2000px;
  height: 100%;
}