/* position */

.relative {
  position: relative;
}

.sticky {
  position: sticky;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.static {
  position: static;
}


/* top */

.top {
  top: 0;
}

.top_10 {
  top: 10px;
}

.top_15 {
  top: 15px;
}

.top_20 {
  top: 20px;
}

.top_25 {
  top: 25px;
}

.top_30 {
  top: 30px;
}

.top_35 {
  top: 35px;
}

.top_40 {
  top: 40px;
}

.top_45 {
  top: 45px;
}

.top_50 {
  top: 50px;
}

.top_60 {
  top: 60px;
}

.top_70 {
  top: 70px;
}

.top_75 {
  top: 75px;
}

.top_80 {
  top: 80px;
}

.top_90 {
  top: 90px;
}

.top_100 {
  top: 100px;
}

.top_120 {
  top: 120px;
}

.top_140 {
  top: 140px;
}

.top_150 {
  top: 150px;
}

.top_160 {
  top: 160px;
}

.top_180 {
  top: 180px;
}

.top_200 {
  top: 200px;
}

.top_300 {
  top: 300px;
}

.top_400 {
  top: 400px;
}

.top_500 {
  top: 500px;
}


.top-10 {
  top: -10px;
}

.top-15 {
  top: -15px;
}

.top-20 {
  top: -20px;
}

.top-25 {
  top: -25px;
}

.top-30 {
  top: -30px;
}

.top-35 {
  top: -35px;
}

.top-40 {
  top: -40px;
}

.top-45 {
  top: -45px;
}

.top-50 {
  top: -50px;
}

.top-60 {
  top: -60px;
}

.top-70 {
  top: -70px;
}

.top-75 {
  top: -75px;
}

.top-80 {
  top: -80px;
}

.top-90 {
  top: -90px;
}

.top-100 {
  top: -100px;
}

.top-120 {
  top: -120px;
}

.top-140 {
  top: -140px;
}

.top-150 {
  top: -150px;
}

.top-160 {
  top: -160px;
}

.top-180 {
  top: -180px;
}

.top-200 {
  top: -200px;
}

.top-300 {
  top: -300px;
}

.top-400 {
  top: -400px;
}

.top-450 {
  top: -450px;
}

.top-500 {
  top: -500px;
}


/* bottom */

.bottom {
  bottom: 0;
}

.bottom_10 {
  bottom: 10px;
}

.bottom_15 {
  bottom: 15px;
}

.bottom_20 {
  bottom: 20px;
}

.bottom_25 {
  bottom: 25px;
}

.bottom_30 {
  bottom: 30px;
}

.bottom_35 {
  bottom: 35px;
}

.bottom_40 {
  bottom: 40px;
}

.bottom_45 {
  bottom: 45px;
}

.bottom_50 {
  bottom: 50px;
}

.bottom_60 {
  bottom: 60px;
}

.bottom_70 {
  bottom: 70px;
}

.bottom_75 {
  bottom: 75px;
}

.bottom_80 {
  bottom: 80px;
}

.bottom_90 {
  bottom: 90px;
}

.bottom_100 {
  bottom: 100px;
}

.bottom_120 {
  bottom: 120px;
}

.bottom_130 {
  bottom: 130px;
}

.bottom_140 {
  bottom: 140px;
}

.bottom_150 {
  bottom: 150px;
}

.bottom_160 {
  bottom: 160px;
}

.bottom_180 {
  bottom: 180px;
}

.bottom_200 {
  bottom: 200px;
}

.bottom_300 {
  bottom: 300px;
}

.bottom_400 {
  bottom: 400px;
}

.bottom_500 {
  bottom: 500px;
}


.bottom-10 {
  bottom: -10px;
}

.bottom-15 {
  bottom: -15px;
}

.bottom-20 {
  bottom: -20px;
}

.bottom-25 {
  bottom: -25px;
}

.bottom-30 {
  bottom: -30px;
}

.bottom-35 {
  bottom: -35px;
}

.bottom-40 {
  bottom: -40px;
}

.bottom-45 {
  bottom: -45px;
}

.bottom-50 {
  bottom: -50px;
}

.bottom-60 {
  bottom: -60px;
}

.bottom-70 {
  bottom: -70px;
}

.bottom-75 {
  bottom: -75px;
}

.bottom-80 {
  bottom: -80px;
}

.bottom-90 {
  bottom: -90px;
}

.bottom-100 {
  bottom: -100px;
}

.bottom-120 {
  bottom: -120px;
}

.bottom-140 {
  bottom: -140px;
}

.bottom-150 {
  bottom: -150px;
}

.bottom-160 {
  bottom: -160px;
}

.bottom-180 {
  bottom: -180px;
}

.bottom-200 {
  bottom: -200px;
}

.bottom-250 {
  bottom: -250px;
}

.bottom-300 {
  bottom: -300px;
}

.bottom-400 {
  bottom: -400px;
}

.bottom-450 {
  bottom: -450px;
}

.bottom-500 {
  bottom: -500px;
}


/* right */

.right {
  right: 0;
}

.right_10 {
  right: 10px;
}

.right_15 {
  right: 15px;
}

.right_20 {
  right: 20px;
}

.right_25 {
  right: 25px;
}

.right_30 {
  right: 30px;
}

.right_35 {
  right: 35px;
}

.right_40 {
  right: 40px;
}

.right_45 {
  right: 45px;
}

.right_50 {
  right: 50px;
}

.right_60 {
  right: 60px;
}

.right_70 {
  right: 70px;
}

.right_75 {
  right: 75px;
}

.right_80 {
  right: 80px;
}

.right_90 {
  right: 90px;
}

.right_100 {
  right: 100px;
}

.right_120 {
  right: 120px;
}

.right_140 {
  right: 140px;
}

.right_160 {
  right: 160px;
}

.right_180 {
  right: 180px;
}

.right_200 {
  right: 200px;
}

.right_300 {
  right: 300px;
}

.right_400 {
  right: 400px;
}

.right_500 {
  right: 500px;
}


.right-10 {
  right: -10px;
}

.right-15 {
  right: -15px;
}

.right-20 {
  right: -20px;
}

.right-25 {
  right: -25px;
}

.right-30 {
  right: -30px;
}

.right-35 {
  right: -35px;
}

.right-40 {
  right: -40px;
}

.right-45 {
  right: -45px;
}

.right-50 {
  right: -50px;
}

.right-60 {
  right: -60px;
}

.right-70 {
  right: -70px;
}

.right-75 {
  right: -75px;
}

.right-80 {
  right: -80px;
}

.right-90 {
  right: -90px;
}

.right-100 {
  right: -100px;
}

.right-120 {
  right: -120px;
}

.right-140 {
  right: -140px;
}

.right-160 {
  right: -160px;
}

.right-180 {
  right: -180px;
}

.right-200 {
  right: -200px;
}

.right-300 {
  right: -300px;
}

.right-400 {
  right: -400px;
}

.right-450 {
  right: -450px;
}

.right-500 {
  right: -500px;
}


/* left */

.left {
  left: 0;
}

.left_10 {
  left: 10px;
}

.left_15 {
  left: 15px;
}

.left_20 {
  left: 20px;
}

.left_25 {
  left: 25px;
}

.left_30 {
  left: 30px;
}

.left_35 {
  left: 35px;
}

.left_40 {
  left: 40px;
}

.left_45 {
  left: 45px;
}

.left_50 {
  left: 50px;
}

.left_60 {
  left: 60px;
}

.left_70 {
  left: 70px;
}

.left_75 {
  left: 75px;
}

.left_80 {
  left: 80px;
}

.left_90 {
  left: 90px;
}

.left_100 {
  left: 100px;
}

.left_120 {
  left: 120px;
}

.left_140 {
  left: 140px;
}

.left_160 {
  left: 160px;
}

.left_180 {
  left: 180px;
}

.left_200 {
  left: 200px;
}

.left_300 {
  left: 300px;
}

.left_400 {
  left: 400px;
}

.left_500 {
  left: 500px;
}


.left-10 {
  left: -10px;
}

.left-15 {
  left: -15px;
}

.left-20 {
  left: -20px;
}

.left-25 {
  left: -25px;
}

.left-30 {
  left: -30px;
}

.left-35 {
  left: -35px;
}

.left-40 {
  left: -40px;
}

.left-45 {
  left: -45px;
}

.left-50 {
  left: -50px;
}

.left-60 {
  left: -60px;
}

.left-70 {
  left: -70px;
}

.left-75 {
  left: -75px;
}

.left-80 {
  left: -80px;
}

.left-90 {
  left: -90px;
}

.left-100 {
  left: -100px;
}

.left-120 {
  left: -120px;
}

.left-140 {
  left: -140px;
}

.left-160 {
  left: -160px;
}

.left-180 {
  left: -180px;
}

.left-200 {
  left: -200px;
}

.left-300 {
  left: -300px;
}

.left-400 {
  left: -400px;
}

.left-450 {
  left: -450px;
}

.left-500 {
  left: -500px;
}


/* z-index */

.z-1 {
  z-index: -1 !important;
}

.z_1 {
  z-index: 1 !important;
}

.z_2 {
  z-index: 2 !important;
}

.z_3 {
  z-index: 3 !important;
}

.z_4 {
  z-index: 4 !important;
}

.z_5 {
  z-index: 5 !important;
}

.z_10 {
  z-index: 10 !important;
}

.z_15 {
  z-index: 15 !important;
}