/* width */

.w_unset {
  width: unset !important;
}


.w_20 {
  width: 20px !important;
}

.w_25 {
  width: 25px !important;
}

.w_30 {
  width: 30px !important;
}

.w_35 {
  width: 35px !important;
}

.w_40 {
  width: 40px !important;
}


.w_40p {
  width: 40% !important;
}

.w_50p {
  width: 50% !important;
}

.w_55p {
  width: 55% !important;
}

.w_60p {
  width: 60% !important;
}

.w_65p {
  width: 65% !important;
}

.w_70p {
  width: 70% !important;
}

.w_75p {
  width: 75% !important;
}

.w_80p {
  width: 80% !important;
}

.w_85p {
  width: 85% !important;
}

.w_90p {
  width: 90% !important;
}

.w_95p {
  width: 95% !important;
}

.w_100p {
  width: 100% !important;
}


.vw_100 {
  width: 100vw !important;
}

// deprecated
.full-width {
  width: 100% !important;
}

// deprecated
.full-width-v {
  width: 100vw !important;
}

// deprecated
.half-width {
  width: 50% !important;
}

.fit-content {
  min-width: fit-content;
  max-width: fit-content;
}


/* max-width */

.maxw_container {
  max-width: $container_maxw;
  width: 100%;
}

.maxw_unset {
  max-width: unset;
  width: 100%;
}

.maxw_100p {
  max-width: 100%;
  width: 100%;
}

.maxw_10 {
  max-width: 10px;
  width: 100%;
}

.maxw_12 {
  max-width: 12px;
  width: 100%;
}

.maxw_15 {
  max-width: 15px;
  width: 100%;
}

.maxw_16 {
  max-width: 16px;
  width: 100%;
}

.maxw_20 {
  max-width: 20px;
  width: 100%;
}

.maxw_25 {
  max-width: 25px;
  width: 100%;
}

.maxw_30 {
  max-width: 30px;
  width: 100%;
}

.maxw_32 {
  max-width: 32px;
  width: 100%;
}

.maxw_35 {
  max-width: 35px;
  width: 100%;
}

.maxw_40 {
  max-width: 40px;
  width: 100%;
}

.maxw_45 {
  max-width: 40px;
  width: 100%;
}

.maxw_50 {
  max-width: 50px;
  width: 100%;
}

.maxw_60 {
  max-width: 60px;
  width: 100%;
}

.maxw_70 {
  max-width: 70px;
  width: 100%;
}

.maxw_80 {
  max-width: 80px;
  width: 100%;
}

.maxw_90 {
  max-width: 90px;
  width: 100%;
}

.maxw_100 {
  max-width: 100px;
  width: 100%;
}

.maxw_110 {
  max-width: 110px;
  width: 100%;
}

.maxw_120 {
  max-width: 120px;
  width: 100%;
}

.maxw_140 {
  max-width: 140px;
  width: 100%;
}

.maxw_150 {
  max-width: 150px;
  width: 100%;
}

.maxw_180 {
  max-width: 180px;
  width: 100%;
}

.maxw_200 {
  max-width: 200px;
  width: 100%;
}

.maxw_220 {
  max-width: 220px;
  width: 100%;
}

.maxw_250 {
  max-width: 250px;
  width: 100%;
}

.maxw_300 {
  max-width: 300px;
  width: 100%;
}

.maxw_300 {
  max-width: 300px;
  width: 100%;
}

.maxw_400 {
  max-width: 400px;
  width: 100%;
}

.maxw_450 {
  max-width: 450px;
  width: 100%;
}

.maxw_500 {
  max-width: 500px;
  width: 100%;
}

.maxw_550 {
  max-width: 550px;
  width: 100%;
}

.maxw_600 {
  max-width: 600px;
  width: 100%;
}

.maxw_650 {
  max-width: 650px;
  width: 100%;
}

.maxw_640 {
  max-width: 640px;
  width: 100%;
}

.maxw_700 {
  max-width: 700px;
  width: 100%;
}

.maxw_750 {
  max-width: 750px;
  width: 100%;
}

.maxw_800 {
  max-width: 800px;
  width: 100%;
}

.maxw_850 {
  max-width: 850px;
  width: 100%;
}

.maxw_900 {
  max-width: 900px;
  width: 100%;
}

.maxw_950 {
  max-width: 950px;
  width: 100%;
}

.maxw_1000 {
  max-width: 1000px;
  width: 100%;
}

.maxw_1400 {
  max-width: 1400px;
  width: 100%;
}

.maxw_1500 {
  max-width: 1500px;
  width: 100%;
}

.maxw_1700 {
  max-width: 1700px;
  width: 100%;
}

.maxw_2000 {
  max-width: 2000px;
  width: 100%;
}

/* min-width */
.minw_max-content {
  min-width: max-content;
}

.minw_16 {
  min-width: 16px !important;
}

.minw_20 {
  min-width: 20px !important;
}

.minw_25 {
  min-width: 25px !important;
}

.minw_30 {
  min-width: 30px !important;
}

.minw_32 {
  min-width: 32px !important;
}

.minw_35 {
  min-width: 35px !important;
}

.minw_40 {
  min-width: 40px !important;
}

.minw_45 {
  min-width: 40px !important;
}

.minw_50 {
  min-width: 50px !important;
}

.minw_60 {
  min-width: 60px !important;
}

.minw_70 {
  min-width: 70px !important;
}

.minw_80 {
  min-width: 80px !important;
}

.minw_90 {
  min-width: 90px !important;
}

.minw_100 {
  min-width: 100px !important;
}

.minw_110 {
  min-width: 110px !important;
}

.minw_120 {
  min-width: 120px !important;
}

.minw_140 {
  min-width: 140px !important;
}

.minw_145 {
  min-width: 145px !important;
}

.minw_150 {
  min-width: 150px !important;
}

.minw_180 {
  min-width: 180px !important;
}

.minw_200 {
  min-width: 200px !important;
}

.minw_220 {
  min-width: 220px !important;
}

.minw_230 {
  min-width: 230px !important;
}

.minw_250 {
  min-width: 250px !important;
}

.minw_300 {
  min-width: 300px !important;
}

.minw_350 {
  min-width: 350px !important;
}

.minw_400 {
  min-width: 400px !important;
}

.minw_450 {
  min-width: 450px !important;
}

.minw_500 {
  min-width: 500px !important;
}

.minw_550 {
  min-width: 550px !important;
}

.minw_600 {
  min-width: 600px !important;
}

.minw_650 {
  min-width: 650px !important;
}

.minw_640 {
  min-width: 640px !important;
}

.minw_700 {
  min-width: 700px !important;
}

.minw_750 {
  min-width: 750px !important;
}

.minw_800 {
  min-width: 800px !important;
}

.minw_850 {
  min-width: 850px !important;
}

.minw_900 {
  min-width: 900px !important;
}

.minw_950 {
  min-width: 950px !important;
}

.minw_1000 {
  min-width: 1000px !important;
}

.minw_1400 {
  min-width: 1400px !important;
}

.minw_1500 {
  min-width: 1500px !important;
}

.minw_1700 {
  min-width: 1700px !important;
}

.minw_2000 {
  min-width: 2000px !important;
}