.button {
  height: $button_height;

  font-family: $button_color-font-family;
  font-weight: $button_color-font-weight;
  font-size: 18px;

  text-align: center;

  padding: $button_padding;

  border: 1px solid $button_color-border;
  border-radius: $button_radius;

  color: $button_color-text;
  background: $button_color-bg;

  user-select: none;
  -webkit-user-drag: none;

  &:hover {
    color: $gray_700;
  }

  &.button_outline_white {
    border-color: $gray_700;
    color: $gray_700;
    background: transparent;
  }


  &.button_outline_active {
    border-color: $color_active;
    color: $color_active !important;
    background: transparent;
  }


  &.error {
    border-color: $error_100 !important;
  }


  &:disabled {
    background: $color_disable_bg;
  }
}