.dropdown {
  position: relative;

  &:hover .dropdown_panel {
    opacity: 1;
    pointer-events: unset;
    top: 15px;
    left: -10px;
  }
}

.dropdown_panel {
  pointer-events: none;
  opacity: 0;
  position: absolute;
  top: 10px;
}
