.tab__list {
  & .card_bg_gradient {
    background: transparent !important;
  }

  & .card_bg_content {
    pointer-events: none;
  }

  & .tab__title.tab_active.card_bg_gradient {
    background: linear-gradient(135deg, rgba(0, 255, 170, 1), rgba(69, 121, 245, 1), rgba(156, 66, 245, 1)) !important;
  }
}

.tab__title {
  cursor: pointer;
  user-select: none;
}
