$icomoon-font-family: 'icon' !default;
$icomoon-font-path: '../fonts/Icon' !default;

$icon-arrow__down1: '\e905';
$icon-arrow__left: '\e90e';
$icon-arrow__right1: '\e90f';
$icon-arrow__up1: '\e910';
$icon-bnb: '\e911';
$icon-discord1: '\e91b';
$icon-done: '\e91c';
$icon-download1: '\e91d';
$icon-info_circle1: '\e928';
$icon-info_circle_red1: '\e929';
$icon-mac: '\e92e';
$icon-minus: '\e92f';
$icon-pagination__arrow__left1: '\e930';
$icon-pagination__img__right1: '\e931';
$icon-plus: '\e935';
$icon-progress: '\e939';
$icon-question: '\e93a';
$icon-success: '\e93f';
$icon-table__arrow__down1: '\e940';
$icon-telegram1-path1: '\e941';
$icon-telegram1-path2: '\e942';
$icon-twitter1: '\e94b';
$icon-vk-path1: '\e950';
$icon-vk-path2: '\e951';
$icon-youtube-path1: '\e955';
$icon-youtube-path2: '\e956';
$icon-arrow__right: '\e904';
$icon-arrow__down: '\e900';
$icon-arrow__up: '\e901';
$icon-discord: '\e902';
$icon-download: '\e903';
$icon-info_circle: '\e906';
$icon-info_circle_red: '\e907';
$icon-pagination__arrow__left: '\e908';
$icon-pagination__img__right: '\e909';
$icon-table__arrow__down: '\e90a';
$icon-telegram-path1: '\e90b';
$icon-telegram-path2: '\e90c';
$icon-twitter: '\e90d';

@font-face {
  font-family: 'icon';
  //src:  url('../fonts/Icon/JetIcons.svg') format('svg');
  src: url('../fonts/Icon/icon.ttf') format('truetype'), url('../fonts/Icon/icon.eot') format('embedded-opentype'),
    url('../fonts/Icon/icon.ttf') format('truetype'), url('../fonts/Icon/icon.woff') format('woff'), url('../fonts/Icon/icon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  align-items: center;
  justify-content: center;
}

.icon_14:before,
.icon_14:after {
  font-size: 14px !important;
}

.icon_16:before,
.icon_16:after {
  font-size: 16px !important;
}

.icon_20:before,
.icon_20:after {
  font-size: 20px !important;
}

.icon_50:before,
.icon_50:after {
  font-size: 50px !important;
}

.icon-arrow__down1 {
  &:before {
    content: $icon-arrow__down1;
    color: #fff;
  }
}

.icon-arrow__left {
  &:before {
    content: $icon-arrow__left;
    color: #fff;
  }
}

.icon-arrow__right {
  &:before {
    content: $icon-arrow__right1;
    color: #fff;
  }
}

.icon-arrow__up1 {
  &:before {
    content: $icon-arrow__up1;
    color: #fff;
  }
}

.icon-bnb {
  &:before {
    content: $icon-bnb;
    color: #f3ba2f;
    font-size: 50px;
    margin: 3px 0 0 3px;
  }
}

.icon-discord1 {
  &:before {
    content: $icon-discord1;
    color: #5865f2;
  }
}

.icon-done {
  &:before {
    content: $icon-done;
    color: #00f495;
  }
  font-size: 25px;
}

//
//.icon-download1 {
//  &:before {
//    content: $icon-download1;
//    color: #fff;
//  }
//}
//.icon-info_circle1 {
//  &:before {
//    content: $icon-info_circle1;
//    color: #d98f59;
//  }
//}
//.icon-info_circle_red1 {
//  &:before {
//    content: $icon-info_circle_red1;
//    color: #ff4848;
//  }
//}
.icon-mac {
  &:before {
    content: $icon-mac;
    color: #fff;
    font-size: 25px;
  }
}

.icon-minus {
  &:before {
    content: $icon-minus;
    color: #fff;
    font-size: 30px;
  }
}

.icon-plus {
  &:before {
    content: $icon-plus;
    color: #fff;
    line-height: 20px;
    font-size: 30px;
  }
}

//
//.icon-pagination__arrow__left1 {
//  &:before {
//    content: $icon-pagination__arrow__left1;
//    color: #878789;
//  }
//}
//.icon-pagination__img__right1 {
//  &:before {
//    content: $icon-pagination__img__right1;
//    color: #878789;
//  }
//}
.icon-progress {
  &:before {
    content: $icon-progress;
  }
}

.icon-question {
  &:before {
    content: $icon-question;
    opacity: 0.6;
    font-size: 25px;
  }
}

.icon-success {
  &:before {
    content: $icon-success;
    color: #fff;
  }
}

//.icon-table__arrow__down1 {
//  &:before {
//    content: $icon-table__arrow__down1;
//    color: #4e4e4e;
//  }
//}
//.icon-telegram1 .path1 {
//  &:before {
//    content: $icon-telegram1-path1;
//    color: rgb(0, 0, 0);
//  }
//}
//.icon-telegram1 .path2 {
//  &:before {
//    content: $icon-telegram1-path2;
//    margin-left: -1em;
//    color: rgb(255, 255, 255);
//  }
//}
//.icon-twitter1 {
//  &:before {
//    content: $icon-twitter1;
//    color: #1da1f2;
//  }
//}

//.icon-arrow__right {
//  &:before {
//    content: $icon-arrow__right;
//    color: #fff;
//  }
//}

.icon-arrow__down {
  &:before {
    content: $icon-arrow__down;
    color: #fff;
    font-size: 10px;
  }
}

.icon-arrow__up {
  &:before {
    content: $icon-arrow__up;
    color: #fff;
  }
}

.icon-download {
  &:before {
    content: $icon-download;
    color: #abacad;
    font-size: 14px !important;
  }
}

.icon-info_circle {
  &:before {
    content: $icon-info_circle;
    color: #d98f59;
  }
}

.icon-info_circle_red {
  &:before {
    content: $icon-info_circle_red;
    color: #ff4848;
  }
}

.icon-pagination__arrow__left {
  &:before {
    content: $icon-pagination__arrow__left;
    color: #878789;
  }
}

.icon-pagination__img__right {
  &:before {
    content: $icon-pagination__img__right;
    color: #878789;
  }
}

.icon-table__arrow__down {
  &:before {
    content: $icon-table__arrow__down;
    color: #4e4e4e;
  }
}

/* social */

.icon-discord {
  &:before {
    content: $icon-discord;
    color: #5865f2;
    font-size: 24px;
  }
}

.icon-telegram {
  &:before {
    content: $icon-telegram-path1;
    color: rgb(0, 0, 0);

    background: linear-gradient(180deg, #2aabee 0%, #229ed9 99.26%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-size: 24px !important;
  }

  &:after {
    content: $icon-telegram-path2;
    margin-left: -1em;
    color: rgb(255, 255, 255);
    font-size: 24px !important;
  }
}

.icon-twitter {
  &:before {
    content: $icon-twitter;
    color: #1da1f2;
    font-size: 24px;
  }
}

.icon-vk {
  &:before {
    content: $icon-vk-path1;
    color: rgb(0, 119, 255);
    font-size: 24px;
  }

  &:after {
    content: $icon-vk-path2;
    margin-left: -1em;
    color: rgb(255, 255, 255);
    font-size: 24px;
  }
}

.icon-youtube {
  &:before {
    content: $icon-youtube-path1;
    color: rgb(255, 3, 2);
    font-size: 24px;
  }

  &:after {
    content: $icon-youtube-path2;
    margin-left: -1em;
    color: rgb(254, 254, 254);
    font-size: 24px;
  }
}
