// background
$bg_body: #f0f0f0;
$bg_gradient_light: linear-gradient(135deg, rgba(245, 247, 250, 0.12) 0%, rgba(245, 247, 250, 0.06) 52.14%, rgba(245, 247, 250, 0.0001) 100%);
$bg_gradient_dark: linear-gradient(135deg, rgba(50, 53, 61, 1), rgba(37, 40, 47, 1), rgba(26, 29, 37, 1));

// border-color
$bc_active_green: #3e6238;

/* Gray */
$gray_0: #000;
$gray_100: #1F1F1F;
$gray_200: #3D3D3D;
$gray_300: #5C5C5C;
$gray_400: #777777;
$gray_500: #858585;
$gray_600: #AAAAAA;
$gray_700: #ffffff;

/* Primary */
$primary_0: #06549D;
$primary_100: #0769C5;
$primary_200: #097FED;
$primary_300: #2692F7;
$primary_400: #4EA6F9;
$primary_500: #4EA6F9;

/* Secondary color */
$secondary_0: #202630;
$secondary_100: #161C26;
$secondary_200: #26a5e5;

/* color */
$color_active: #3e71ec;
$color_disable: #3c3e49;
$color_disable_bg: #3c3e49;

/* Other-color */
$error_0: #d32f2f;
$error_100: #FF5372;
$error_200: #FF537299;

$success_0: #388e3c;
$success_100: #66bb6a;
$success_200: #81c784;

$info_0: #0288d1;
$info_100: #29b6f6;
$info_200: #4fc3f7;

$warning_0: #f57c00;
$warning_100: #ffa726;
$warning_200: #ffb74d;

/* Shadow */
$shadow_default: 0px 5px 10px rgba(61, 61, 61, 0.15);
$shadow_big: 0px 5px 10px rgba(61, 61, 61, 0.3);
$shadow_biggest: 0px 5px 10px rgba(61, 61, 61, 0.4);

$shadow_button: none;
$shadow_button_hover: none;

/* Container */
$container_maxw: 1166px;
$container_margin: 0 30px;

//Font
$font_main: 'Montserrat';
$font_sub: 'unset';

$font_main_path: '../fonts/Montserrat';
$font_sub_path: '';


/* Headers */
$h1_margin: 0;
$h_margin: 0;
$h_color: $gray_0;

$h1_fs: 64px;
$h2_fs: 48px;
$h3_fs: 36px;
$h4_fs: 24px;
$h5_fs: 20px;
$h6_fs: 20px;

$h1_fw: 800;
$h2_fw: 800;
$h3_fw: 800;
$h4_fw: 700;
$h5_fw: 700;
$h6_fw: 700;

$h_lh: unset;

/* Text */
$text_color: $gray_0;
$text_lh: 24px;
$text_fs: 16px;
$text_fw: 400;

$text_title_fw: 600;
$text_title_fs: 22px;

$text_title2_fw: 500;
$text_title2_fs: 20px;

$text_body_fw: 400;
$text_body_fs: 18px;

$text_body2_fw: 400;
$text_body2_fs: 16px;

$text_note_fw: 400;
$text_note_fs: 14px;

$text_small_fw: 300;
$text_small_fs: 12px;

/* Link */
$link_color: $text_color;
$link_hover-color: $primary_100;

/* Button */
$button_color-font-family: $font_main;
$button_color-font-weight: 400;

$button_color-text: $gray_700;
$button_color-bg: $primary_200;
$button_color-border: transparent;

$button_padding: 15px 30px;
$button_margin: 0;
$button_radius: 10px;
$button_height: 60px;

/* Input */
$input_color-focus: 1px solid $gray_600;
$input_color-text: $gray_300;
$input_bg: #F7F7F7;

$input_border: 1px solid transparent;
$input_padding: 15px 30px;
$input_margin: 0 0 0 0;
$input_radius: 10px;
$input_height: 60px;

$input_file_bg: #f0eff3;
$input_file_color: $gray_200;

/* Textarea */
$textarea_margin: 5px 0 0 0;
$textarea_minh: 150px;

/* Block */
$row_gap: 30px;
$column_gap: 10px;
$wrap_gap: 10px 10px;
$image_centerY: 10px;
$image_justify: 10px;

/* Card */
$card_padding: 40px;
$card_radius: 15px;
$card_gap: 20px;
$card_bg: $gray_700;
$card_outline: 1px solid transparent;

/* Divider */
$divider: rgba(0, 0, 0, 0.12);
$divider_25p: #fff;
$divider_50p: #fff;
$divider_75p: #fff;

/* Scroll */
$scroll_color: $secondary_100;
$scroll_bg: $primary_100;

/* Policy */
$policy_color-text_bold: $text_color;
$policy_color-text: $text_color;
$policy_lh: 140%;
$policy_fs_main: 20px;
$policy_fw_main: 500;
$policy_fw_h: 600;

/* Sidebar */
$sidebar_bg: transparent;
$sidebar_maxw: 270px;
$sidebar_padding: 20px;

/* Header */
$header_bg: $gray_700;
$header_padding: 0;
$header_color-text: $text_color;
$header_height: 100px;

/* Footer */
$footer_bg: transparent;
$footer_padding: 30px 0;
$footer_color-text: $text_color;

/* Table */
$table_thead_bb: transparent;
$table_border_radius: 16px;