<div class='input_block pretty p-default fit-content'>
  <input type='checkbox' />
  <div class='state'>
    <label>Нажми на коробку</label>
  </div>
</div>

<div class='input_block pretty p-default fit-content'>
  <input type='checkbox' />
  <div class='state'>
    <label>Нажми на меня и коробку!</label>
  </div>
</div>

<div class='input_block pretty p-default check_label-only fit-content'>
  <input type='checkbox' />
  <div class='state'>
    <label>Нажми только на меня!</label>
  </div>
</div>

<div class='input_block pretty p-default check_label-only check_box_big fit-content'>
  <input type='checkbox' />
  <div class='state'>
    <label>Большой текст с переносом <br> строки лучше работает с label-only</label>
  </div>
</div>