<div class='input_block'>

  <div class='input_block fit-content'>
    <label>Pick a date:</label>
    <input class='input_date' type='date' format='DD.MM.YYYY' />
  </div>

  <div class='input_block time-picker fit-content'>
    <label>Pick a date:</label>
    <input class='input_date' type='time' />
  </div>

  <p class='mt_20'>На всю ширину блока</p>

  <div class='input_block'>
    <label>Pick a date:</label>
    <input class='input_date' type='date' format='DD.MM.YYYY' />
  </div>

  <div class='input_block time-picker full-width'>
    <label>Pick a date:</label>
    <input class='input_date' type='time' />
  </div>

</div>

<script>


  // [].slice.call(document.querySelectorAll('input[type="time"]')).forEach((e) => {
  //   console.log(e.getAttribute(name));
  //   let dp = new dpicker(e, {
  //     'inputName': 'time',
  //     'time': true,
  //     'empty': true,
  //     'valid': true,
  //     'display': true,
  //     'step': '30',
  //     'disable': true,
  //     'showCalendarButton': false,
  //     'hideOnOutsideClick': false,
  //     'concatHoursAndMinutes': true,
  //   });
  // });


</script>