@use "sass:map";

@each $k, $v in $font_face_main {
  @font-face {
    font-family: '#{$font_main}';
    src: url('#{$font_main_path}/#{map.get($v, "file")}') format(map.get($v, "format"));
    font-weight: $k;
    font-display: swap;
    font-style: normal;
  }
}
