/* Check */

.check_button {
  display: inline-block;
}

.check_button input[type=checkbox] {
  display: none;
}

.check_button label {
  display: inline-block;
  white-space: nowrap;
  cursor: pointer;

  font-size: var(--text_note_fs);
  font-weight: var(--text_note_fw);
  color: var(--input-color-text);

  padding: var(--input-padding);
  border-radius: var(--input-radius);
  background: transparent;
  border: 1px solid var(--gray_600);

  user-select: none;
}

/* Checked */
.check_button input[type=checkbox]:checked + label {
  background: var(--color_active);
  color: var(--gray_700);
}

/* Hover */
.check_button label:hover {
  background: var(--color_active);
}

/* Disabled */
.check_button input[type=checkbox]:disabled + label {
  background: var(--color_disable);
  color: var(--color_disable);
}