/* Radio */
.radio {
  & {
    display: inline-block;
  }

  & input[type=radio] {
    display: none;
  }

  & label {
    display: inline-block;
    white-space: nowrap;
    cursor: pointer;

    font-size: var(--text_note_fs);
    font-weight: var(--text_note_fw);
    color: var(--input-color-text);

    padding: var(--input-padding);
    border-radius: var(--input-radius);
    background: transparent;
    border: 1px solid var(--gray_600);

    user-select: none;
  }

  /* Checked */
  & input[type=radio]:checked + label {
    background: var(--color_active);
    color: var(--gray_600);
  }

  /* Hover */
  & label:hover {
    color: var(--color_active);
  }

  /* Disabled */
  & input[type=radio]:disabled + label {
    background: var(--color_disable);
    color: var(--color_disable);
  }
}