@each $color, $value in $colors {
  /* text-color */
  .text_#{$color} {
    color: var(--#{$color}) !important;

    & .text_inherit {
      color: var(--#{$color}) !important;
    }
  }

  /* text-color-hover */
  .text_#{$color}-h:hover {
    color: var(--#{$color}) !important;

    & .text_inherit-h {
      color: var(--#{$color}) !important;
    }
  }
}

