footer {
  position: relative;
  width: 100%;
  background: $footer_bg;
  padding: $footer_padding;

  & * {
    color: $footer_color-text !important;
  }
}

.footer__link {
  gap: 60px;
}

@include max-desktop_968 {
  .footer__link {
    gap: 15px;
  }

  .footer__wrapper {
    gap: 10px !important;
  }
}

@include max-desktop_800 {
  .footer__wrapper {
    flex-wrap: wrap;
    gap: 30px 10px !important;
  }
}

@include max-desktop_720 {
  .footer__link {
    flex-wrap: wrap;
    justify-content: space-between !important;
  }

  .footer__link .panel_absolute_bottom {
    right: 0;
  }
}

@media (max-width: 520px) {

  .footer__link {
    flex-direction: column;
    width: 100%;
  }

  .footer__link .panel_absolute_bottom {
    left: 0 !important;
    right: unset !important;
  }
}