.form__wrapper {
  @include max-desktop_640 {
    width: 90% !important;
    margin: 0 30px;

    .form {
      width: 100%;
    }
  }

  @include max-desktop_380 {
    .form .block_row {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

