header {
  position: sticky;
  top: 0;
  z-index: 15;

  min-height: $header_height;
  max-height: $header_height;

  background: $header_bg;

  display: flex;
  justify-content: center;
  align-items: center;


  & .header__wrapper {
    max-height: 80px;

    max-width: $container_maxw;
    width: 100%;

    padding: $header_padding;

    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  & .menu {
    &__wrapper {
      max-width: 100vw;
      max-height: 100vh;

      position: fixed;
      top: 80px;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.7);

      display: flex;
      justify-content: flex-end;
    }

    &__list {
      position: relative;
      border-radius: 0 !important;
    }
  }
}


.header__burger {
  display: none;
  cursor: pointer;

  // Если элемент img с pointer-events: none
  pointer-events: all !important;
}

.header__burger_block {
  display: block;
}
