.min_1024 {
  @include min-desktop_1024 {
    display: none !important;
  }
}

.max_1024 {
  @include max-desktop_1024 {
    display: none !important;
  }
}

/* 960 */
.min_992 {
  @include min-desktop_992 {
    display: none !important;
  }
}

.max_992 {
  @include max-desktop_992 {
    display: none !important;
  }
}

.max_800 {
  @include max-desktop_800 {
    display: none !important;
  }
}

.min_800 {
  @include min-desktop_800 {
    display: none !important;
  }
}

.max_768 {
  @include max-desktop_768 {
    display: none !important;
  }
}

.min_768 {
  @include min-desktop_768 {
    display: none !important;
  }
}

.max_640 {
  @include max-desktop_640 {
    display: none !important;
  }
}

.min_640 {
  @include min-desktop_640 {
    display: none !important;
  }
}

.max_576 {
  @include max-desktop_576 {
    display: none !important;
  }
}

.min_576 {
  @include min-desktop_576 {
    display: none !important;
  }
}

.max_375 {
  @include max-desktop_375 {
    display: none !important;
  }
}

.min_375 {
  @include min-desktop_375 {
    display: none !important;
  }
}
