.slider {
  max-width: 500px;
  min-height: 85px;
  width: 100%;
  position: relative;
  left: 14px;
  gap: 40px;
  bottom: 9px;
}

.slider__menu {
  width: 100%;
  min-height: 85px;
  gap: 65px;
  left: 25px;
  bottom: -62px;

  & > .block_row {
    gap: 142px;
  }
}

.slider__name {
  max-width: 200px;
  min-width: 130px;
  position: relative;
  bottom: 15px;
  padding: 10px 30px;
  background: $gray_700;
  border-radius: 10px;
}

.slider__name_text {
  text-align: center;
  font-weight: 600;
}

.slider_item,
.slider_item_0 {
  transform: translate(-300px, 120px);
  opacity: 1;

  position: absolute;

  max-width: 48px;
  max-height: 48px;
  min-width: 48px;
  min-height: 48px;

  transition: 0.5s;

  & img {
    max-width: 60px;
    max-height: 60px;
    min-width: 60px;
    min-height: 60px;

    pointer-events: unset !important;
  }
}

.slider_1 {
  opacity: 1;
  transform: translate(-223px, 53px);
  animation: 0.3s slider_anim_1 forwards linear;
}

.slider_2 {
  opacity: 1;
  transform: translate(-139px, 7px);
}

.slider_3 {
  opacity: 1;
  transform: translate(0px, -62px) scale(2.1);
}

.slider_4 {
  opacity: 1;
  transform: translate(148px, 5px);
}

.slider_5 {
  opacity: 1;
  transform: translate(233px, 53px);
}

.slider_6 {
  opacity: 1;
  transform: translate(280px, 140px);
}

.slider_arrow {
  transition: 0.3s;
  opacity: 0;
  pointer-events: none;
}
