/* Link */
a {
  user-select: none;
  white-space: normal;
  color: $link_color;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    color: $link_hover-color;
  }
}

.td_none {
  text-decoration: none !important;
}

.td_underline {
  text-decoration: underline !important;
}

.td_unset {
  text-decoration: unset !important;
}

.td_dotted {
  text-decoration: dotted !important;
}

.td_dashed {
  text-decoration: dashed !important;
}