<div class='flex_column align_start w_100p'>

  <div>
    <div class='accordion' data-acc='test'>
      <div class='accordion__open accordion__active block_centerY' data-acc='test'>
        <span class='text_body2 text_blue_0 text_med'>Простой аккордион</span>
        <img src='../assets/images/icon/arrow/arrow-up.svg' alt='arrow_up'>
      </div>
    </div>

    <div class='accordion__panel' data-acc='test'>
      <p>test</p>
    </div>
  </div>

  <div class='bg_gray_600 p_10 brs_5'>
    <div class='accordion' data-acc='test_2'>
      <div class='accordion__open accordion__active block_centerY' data-acc='test_2'>
        <span class='text_body text_gray_0 text_med'>Аккордион со стилями</span>
        <img src='../assets/images/icon/arrow/arrow-up.svg' alt='arrow_up'>
      </div>
    </div>

    <div class='accordion__panel' data-acc='test_2'>
      <p class='divider'></p>

      <p>test</p>
    </div>
  </div>


  <div class='bg_gray_600 p_10 brs_5'>
    <div class='accordion' data-acc='test_3'>
      <div class='accordion__open accordion__active flex_row justify_between w_100p' data-acc='test_3'>
        <span class='text_body text_gray_0 text_med'>Аккордион со стилями</span>
        <img src='../assets/images/icon/arrow/arrow-up.svg' alt='arrow_up'>
      </div>
    </div>

    <div class='accordion__panel' data-acc='test_3'>
      <p class='divider'></p>

      <div class='flex_column align_start w_100p gap_2'>
        <!-- Title - start -->
        <div class='flex_row align_center gap_15 p_30X w_100p mb_10 max_800'>
          <div class='flex_2 flex_column align_start'>Название</div>
          <div class='flex_1 flex_column'>
            <div class='image_centerX word-break'>
              Срок действия
            </div>
          </div>
          <div class='flex_2 flex_column'>
            <div class='image_centerX'>
              Документ
            </div>
          </div>
          <div class='flex_1 flex_column'>
            <div class='image_centerX'>
              Статус
            </div>
          </div>
        </div>
        <!-- Title - end -->

        <div class='flex_column align_start w_100p gap_0'>
          <div class='cabinet__document__item flex_row align_center gap_15 p_30X p_25Y pb_20 w_100p bg_gray_700'>
            <div class='flex_2 flex_column align_start gap_0'>
              <!-- Пример с подсказкой -->
              <div class='tooltip__wrapper' id='title_tooltip' data-arrow='true' aria-expanded='false'>
                <p class='text_med text_gray_0 m_0 required-mark'>Подтверждение диагноза</p>

                <p class='tooltip__text hidden'>
                  Документ, подтверждающий диагноз
                </p>
              </div>
              <p class='text_body2 m_0'>Выписка с диагнозом из медучреждения, поставившего диагноз</p>
            </div>


            <div class='flex_1 flex_column'>
              <p class='text_body2 m_0 max_768'>7 дн.</p>
              <p class='text_note m_0 min_768'>
                Срок действия: <span class='text_gray_0'>7 дн.</span>
              </p>
            </div>


            <div class='flex_2 flex_column'>
              <!-- Прикрипление ссылки на документ -->
              <div class='flex_row gap_10 align_center'>
                <div class='tooltip__wrapper' id='link_popup' data-trigger='click' data-arrow='true'
                     data-placement='bottom' aria-expanded='false'>
                  <button class='button w_100p'>Прикрепить ссылку</button>

                  <div class='tooltip__content'>
                    <form class='cabinet__link relative flex_column gap_0 minw_400 hidden'>
                      <!-- Браузер не позволит ввести не ссылку-->
                      <input class='input__field check__link' placeholder='Ссылка' type='url'>

                      <!-- absolute elements-->
                      <button class='button absolute top_5 right'>Прикрепить</button>
                      <img src='/assets/images/link.svg'>
                    </form>
                  </div>
                </div>


              </div>
            </div>


            <div class='flex_1 flex_column gap_10'>
              <p class='status status_success'>Принято</p>
              <!--      <p class='status status_warning'>Ожидание</p>-->
              <!--      <p class='status status_error'>Ошибка</p>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>