<!-- UI Buttons-->
<div class='flex_column w_100p'>
  <button class='button'>Button main</button>

  <button class='button button_sub'>Button sub</button>

  <button class='button button_outline'>Button outline</button>

  <button class='button block_centerY'>
    <!-- inline-block плохо выравнивается (когда поверх svg) -->
    <span class='flex_column text_gray_300'>{{> circle-info-solid}}</span>
    <span>Button svg</span>
  </button>

  <button class='button w_100p'>Button fullwidth</button>
</div>