<div class='pagination flex_row justify_start max_640_pagination'>
  <button class='button button_svg button_pagination max'>
    <img src='{{root}}assets/images/pagination__arrow__left.svg' alt='arrow'>
  </button>

  <button class='button button_violet button_pagination '>1</button>
  <button class='button button_pagination '>2</button>
  <button class='button button_pagination max_640'>3</button>
  <button class='button button_pagination '>...</button>
  <button class='button button_pagination '>42</button>

  <button class='button button_svg button_pagination '>
    <img src='{{root}}assets/images/pagination__img__right.svg' alt='arrow'>
  </button>
</div>