<div class='action_menu fit-content action_menu__active'>
  <div class='action_menu__label'>
    <button class='button action_menu__open button_svg p'>
      <p class='text_body2 text_violet_200 text_med'>Выберите действие</p>
      <img class='action_menu__img' src='../assets/images/arrow__up.svg' alt='arrow'>
    </button>
  </div>
  <div class='action_menu__items card__wrapper'>
    <a class='text_note text_med'>Изменить дату и время</a>
    <p class='divider'></p>
    <a class='text_note text_med'>Отменить тренировку</a>
  </div>
</div>
