<div class='table__wrapper'>
  <table>
    <thead>
    <tr>
      <th class=''>
        <div class='th_text th_text_2'>
          <div class='pretty p-default check_box'>
            <input type='checkbox' />
            <div class='state'>
              <label class='text_gray_0'>Чекбокс и текст</label>
            </div>
          </div>
          <img src='{{root}}assets/images/table__arrow__down.svg' alt='arrow'>
        </div>
      </th>

      <th class='th_150'>
        <div class='th_text'>
          <img src='{{root}}assets/images/lock.svg' alt='lock'>
        </div>
      </th>

      <th class='th_200'>
        <div class='th_text th_text_center'>
          <img src='{{root}}assets/images/lock.svg' alt='lock'>
        </div>
      </th>

      <th class='th_250'>
        <div class='th_text th_text_2'>
          <div class='image_align th_text_end'>
            <img src='{{root}}assets/images/lock.svg' alt='arrow'>
            <p>lorem</p>
          </div>

          <img src='{{root}}assets/images/table__arrow__down.svg' alt='arrow'>
        </div>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <p>
          Если не задавать размер он будет на всю свободную ширину. Нельзя написать max-width..
          Но если задать всем размер, появится полоса прокрутки.
        </p>
      </td>

      <td>
        <p>Начало блока</p>
      </td>

      <td>
        <p>Центр блока</p>
      </td>

      <td>
        <p>Конец блока + img</p>
      </td>
    </tr>

    <tr class='tr_active'>
      <td>
        <p>
          Если не задавать размер он будет на всю свободную ширину. Нельзя написать max-width..
          Но если задать всем размер, появится полоса прокрутки.
        </p>
      </td>

      <td>
        <p>Начало блока</p>
      </td>

      <td>
        <p>Центр блока</p>
      </td>

      <td>
        <p>Конец блока + img</p>
      </td>
    </tr>
    </tbody>
  </table>
</div>