<!-- Typography -->
<div class='card__wrapper input_column'>
  <h1>Типографика</h1>
  <h1 class='mt_40'>заголовок H1</h1>
  <h2>заголовок H2</h2>
  <h3>заголовок H3</h3>
  <h4>заголовок H4</h4>
  <p class='text_body'>Обычный текст</p>
  <p class='text_body2 mt_20'>Обычный текст по меньше</p>
  <p class='text_body2 mt_20 text_blue_0'>Обычный текст по меньше</p>
  <p class='text_note mt_20'>Сноски</p>
  <p class='text_note mt_20 text_blue_0'>Сноски</p>

  <p class='mt_20'>
    <span class='text_small text_gray_300'>Главная /</span>
    <span class='text_small text_blue_200'>Личный кабинет потребителя</span>
  </p>
</div>