/* border */

// deprecated
.border_none {
  border: none !important;
}

.b_none {
  border: none !important;
}

.b_unset {
  border: unset !important;
}

.b_1 {
  border: 1px solid !important;
}

.b_2 {
  border: 2px solid !important;
}

.b_3 {
  border: 3px solid !important;
}

.b_4 {
  border: 4px solid !important;
}

.b_5 {
  border: 5px solid !important;
}


/* border-top */

.bt_1 {
  border-top: 1px solid !important;
}

.bt_2 {
  border-top: 2px solid !important;
}

.bt_3 {
  border-top: 3px solid !important;
}

.bt_4 {
  border-top: 4px solid !important;
}

.bt_5 {
  border-top: 5px solid !important;
}


/* border-top */

.bb_1 {
  border-bottom: 1px solid !important;
}

.bb_2 {
  border-bottom: 2px solid !important;
}

.bb_3 {
  border-bottom: 3px solid !important;
}

.bb_4 {
  border-bottom: 4px solid !important;
}

.bb_5 {
  border-bottom: 5px solid !important;
}


/* border-right */
.br_1 {
  border-right: 1px solid !important;
}

.br_2 {
  border-right: 2px solid !important;
}

.br_3 {
  border-right: 3px solid !important;
}

.br_4 {
  border-right: 4px solid !important;
}

.br_5 {
  border-right: 5px solid !important;
}


/* border-left */

.bl_1 {
  border-left: 1px solid !important;
}

.bl_2 {
  border-left: 2px solid !important;
}

.bl_3 {
  border-left: 3px solid !important;
}

.bl_4 {
  border-left: 4px solid !important;
}

.bl_5 {
  border-left: 5px solid !important;
}


/* border-width */

.bw_1 {
  border-width: 1px !important;
}

.bw_2 {
  border-width: 2px !important;
}

.bw_3 {
  border-width: 3px !important;
}

.bw_4 {
  border-width: 4px !important;
}

.bw_5 {
  border-width: 5px !important;
}


/* border-style */

.bst_unset {
  border-style: unset !important;
}

.bst_solid {
  border-style: solid !important;
}

.bst_none {
  border-style: none !important;
}

.bst_dashed {
  border-style: dashed !important;
}

.bst_dotted {
  border-style: dotted !important;
}

.bst_double {
  border-style: double !important;
}


/* border-radius */

$border_radius: (
  increment_20: $increment_to_20_1,
  increment_4: $increment_step_4,
);


@each $k, $v in $border_radius {
  @each $key, $value in $v {
    .brs_#{$key} {
      border-radius: #{$value} !important;
    }
  }
}


@each $key, $value in $increment_to_100_5 {
  .brs_#{$key}p {
    border-radius: #{$value}#{'%'} !important;
  }
}


@each $color, $value in $colors {
  /* border-color */
  .bc_#{$color} {
    background: var(--#{$color}) !important;
  }

  /* border-color-hover */
  .bc_#{$color}-h:hover {
    background: var(--#{$color}) !important;
  }
}