/* Flex */

.flex_1 {
  flex: 1;
}

.flex_2 {
  flex: 2;
}

.flex_3 {
  flex: 3;
}

.flex_4 {
  flex: 4;
}

.flex_5 {
  flex: 5;
}


/* Aligns */

.align-start {
  align-items: flex-start !important;
}

.align-center {
  align-items: center !important;
}

.align-end {
  align-items: flex-end !important;
}

.align-stretch {
  align-items: stretch !important;
}

.justify-start {
  justify-content: flex-start !important;
}

.justify-center {
  justify-content: center !important;
}

.justify-end {
  justify-content: flex-end !important;
}

.justify-between {
  justify-content: space-between !important;
}

.justify-around {
  justify-content: space-around !important;
}

.justify-evenly {
  justify-content: space-evenly !important;
}


/* Gap */

.gap_0 {
  gap: 0 !important;
}

.gap_2 {
  gap: 2px !important;
}

.gap_4 {
  gap: 4px !important;
}

.gap_5 {
  gap: 4px !important;
}

.gap_8 {
  gap: 8px !important;
}

.gap_10 {
  gap: 10px !important;
}

.gap_12 {
  gap: 12px !important;
}

.gap_15 {
  gap: 16px !important;
}

.gap_16 {
  gap: 16px !important;
}

.gap_20 {
  gap: 20px !important;
}

.gap_24 {
  gap: 24px !important;
}

.gap_25 {
  gap: 25px !important;
}

.gap_28 {
  gap: 28px !important;
}

.gap_30 {
  gap: 30px !important;
}

.gap_32 {
  gap: 32px !important;
}

.gap_40 {
  gap: 40px !important;
}

.gap_50 {
  gap: 50px !important;
}

.gap_60 {
  gap: 60px !important;
}

.gap_80 {
  gap: 80px !important;
}

.gap_100 {
  gap: 100px !important;
}

.gap_130 {
  gap: 130px !important;
}

/* row-gap */

.gap_0Y {
  row-gap: 0 !important;
}

.gap_4Y {
  row-gap: 4px !important;
}

.gap_5Y {
  row-gap: 4px !important;
}

.gap_8Y {
  row-gap: 8px !important;
}

.gap_10Y {
  row-gap: 10px !important;
}

.gap_12Y {
  row-gap: 12px !important;
}

.gap_15Y {
  row-gap: 16px !important;
}

.gap_16Y {
  row-gap: 16px !important;
}

.gap_20Y {
  row-gap: 20px !important;
}

.gap_24Y {
  row-gap: 24px !important;
}

.gap_25Y {
  row-gap: 25px !important;
}

.gap_28Y {
  row-gap: 28px !important;
}

.gap_30Y {
  row-gap: 30px !important;
}

.gap_32Y {
  row-gap: 32px !important;
}

.gap_40Y {
  row-gap: 40px !important;
}

.gap_50Y {
  row-gap: 50px !important;
}

.gap_60Y {
  row-gap: 60px !important;
}

.gap_80Y {
  row-gap: 80px !important;
}

.gap_100Y {
  row-gap: 100px !important;
}

.gap_130Y {
  row-gap: 130px !important;
}


/* column-gap */

.gap_0X {
  column-gap: 0 !important;
}

.gap_4X {
  column-gap: 4px !important;
}

.gap_5X {
  column-gap: 4px !important;
}

.gap_8X {
  column-gap: 8px !important;
}

.gap_10X {
  column-gap: 10px !important;
}

.gap_12X {
  column-gap: 12px !important;
}

.gap_15X {
  column-gap: 16px !important;
}

.gap_16X {
  column-gap: 16px !important;
}

.gap_20X {
  column-gap: 20px !important;
}

.gap_24X {
  column-gap: 24px !important;
}

.gap_25X {
  column-gap: 25px !important;
}

.gap_28X {
  column-gap: 28px !important;
}

.gap_30X {
  column-gap: 30px !important;
}

.gap_32X {
  column-gap: 32px !important;
}

.gap_40X {
  column-gap: 40px !important;
}

.gap_50X {
  column-gap: 50px !important;
}

.gap_60X {
  column-gap: 60px !important;
}

.gap_80X {
  column-gap: 80px !important;
}

.gap_100X {
  column-gap: 100px !important;
}

.gap_130X {
  column-gap: 130px !important;
}