/* gap */

@each $k, $v in $increments {
  @each $key, $value in $v {
    .gap_#{$key} {
      gap: #{$value}px !important;
    }

    .gap_#{$key}X {
      row-gap: #{$value}px !important;
    }

    .gap_#{$key}Y {
      column-gap: #{$value}px !important;
    }
  }
}


/* flex */

@each $key, $value in $increment_to_20_1 {
  .flex_#{$key} {
    flex: #{$value}px !important;
  }
}

/* aligns */

.align_start {
  align-items: flex-start !important;
}

.align_center {
  align-items: center !important;
}

.align_end {
  align-items: flex-end !important;
}

.align_stretch {
  align-items: stretch !important;
}

.justify_start {
  justify-content: flex-start !important;
}

.justify_center {
  justify-content: center !important;
}

.justify_end {
  justify-content: flex-end !important;
}

.justify_between {
  justify-content: space-between !important;
}

.justify_around {
  justify-content: space-around !important;
}

.justify_evenly {
  justify-content: space-evenly !important;
}