$height: (
  increment_4: $increment_step_4,
  increment_20: $increment_to_20_1,
  increment: $increment,
);


@each $k, $v in $height {
  @each $key, $value in $v {
    /* height */
    .h_#{$key} {
      height: #{$value}px !important;
    }

    /* max-height */
    .maxh_#{$key} {
      max-height: #{$value}px !important;
    }

    /* min-height */
    .minh_#{$key} {
      min-height: #{$value}px !important;
    }
  }
}


@each $key, $value in $increment_to_100_5 {
  .h_#{$key}p {
    height: #{$value}#{'%'} !important;
  }

  /* max-height */
  .maxh_#{$key}p {
    max-height: #{$value}#{'%'} !important;
  }

  /* min-height */
  .minh_#{$key}p {
    min-height: #{$value}#{'%'} !important;
  }
}

.h_unset {
  height: unset !important;
}

.vh_100 {
  height: 100vh !important;
}


// deprecated
.full-height {
  height: 100% !important;
}


/* max-height */

.maxh_unset {
  max-height: unset;
}


/* min-height */

.minh_100vh {
  min-height: 100vh !important;
}