/* line-height */


$line-height: (
  increment_4: $increment_step_4,
  increment_20: $increment_to_20_1,
  increment_100: $increment_to_100_5,
);


@each $k, $v in $line-height {
  @each $key, $value in $v {
    .lh_#{$key} {
      line-height: #{$value}px !important;
    }
  }
}

@each $key, $value in $increment {
  .lh_#{$key}p {
    line-height: #{$value}#{'%'} !important;
  }
}

.lh_unset {
  line-height: unset !important;
}