$margins: (
  increment_4: $increment_step_4,
  increment_20: $increment_to_20_1,
  increment: $increment,
);

/* margin */

@each $k, $v in $margins {
  @each $key, $value in $v {
    .m_#{$key} {
      margin: #{$value}px !important;
    }

    .mt_#{$key} {
      margin-top: #{$value}px !important;
    }

    .ml_#{$key} {
      margin-left: #{$value}px !important;
    }

    .mr_#{$key} {
      margin-right: #{$value}px !important;
    }

    .mb_#{$key} {
      margin-bottom: #{$value}px !important;
    }

    .m_#{$key}X {
      margin-right: #{$value}px !important;
      margin-left: #{$value}px !important;
    }

    .m_#{$key}Y {
      margin-top: #{$value}px !important;
      margin-bottom: #{$value}px !important;
    }
  }
}