/* Margin */

.m_0 {
  margin: 0 !important;
}

.m_5 {
  margin: 5px !important;
}

.m_10 {
  margin: 10px !important;
}

.m_15 {
  margin: 15px !important;
}

.m_20 {
  margin: 20px !important;
}

.m_25 {
  margin: 25px !important;
}

.m_30 {
  margin: 30px !important;
}

.m_35 {
  margin: 35px !important;
}

.m_40 {
  margin: 40px !important;
}

.m_45 {
  margin: 45px !important;
}

.m_50 {
  margin: 50px !important;
}

.m_60 {
  margin: 60px !important;
}

/* Margin-x */
.m_0X {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.m_5X {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.m_10X {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.m_15X {
  margin-left: 15px !important;
  margin-right: 15px !important;
}

.m_20X {
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.m_25X {
  margin-left: 25px !important;
  margin-right: 25px !important;
}

.m_30X {
  margin-left: 30px !important;
  margin-right: 30px !important;
}

.m_40X {
  margin-left: 40px !important;
  margin-right: 40px !important;
}

.m_50X {
  margin-left: 50px !important;
  margin-right: 50px !important;
}

.m_60X {
  margin-left: 60px !important;
  margin-right: 60px !important;
}

/* Margin-y */

.m_0Y {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.m_5Y {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.m_10Y {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.m_15Y {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.m_20Y {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.m_25Y {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}

.m_30Y {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

.m_40Y {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}

.m_50Y {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}

.m_60Y {
  margin-top: 60px !important;
  margin-bottom: 60px !important;
}

/* margin-top */

.mt_-20 {
  margin-top: -20px !important;
}

.mt_0 {
  margin-top: 0 !important;
}

.mt_5 {
  margin-top: 5px !important;
}

.mt_10 {
  margin-top: 10px !important;
}

.mt_15 {
  margin-top: 15px !important;
}

.mt_16 {
  margin-top: 16px !important;
}

.mt_20 {
  margin-top: 20px !important;
}

.mt_20 {
  margin-top: 25px !important;
}

.mt_30 {
  margin-top: 30px !important;
}

.mt_40 {
  margin-top: 40px !important;
}

.mt_50 {
  margin-top: 50px !important;
}

.mt_60 {
  margin-top: 60px !important;
}

.mt_80 {
  margin-top: 80px !important;
}

.mt_120 {
  margin-top: 120px !important;
}

.mt_160 {
  margin-top: 160px !important;
}

.mt_240 {
  margin-top: 240px !important;
}

/* margin-bottom */

.mb_0 {
  margin-bottom: 0 !important;
}

.mb_5 {
  margin-bottom: 5px !important;
}

.mb_10 {
  margin-bottom: 10px !important;
}

.mb_15 {
  margin-bottom: 15px !important;
}

.mb_20 {
  margin-bottom: 20px !important;
}

.mb_25 {
  margin-bottom: 25px !important;
}

.mb_30 {
  margin-bottom: 30px !important;
}

.mb_40 {
  margin-bottom: 40px !important;
}

.mb_50 {
  margin-bottom: 50px !important;
}

.mb_60 {
  margin-bottom: 60px !important;
}

.mb_80 {
  margin-bottom: 80px !important;
}

.mb_100 {
  margin-bottom: 100px !important;
}

.mb_120 {
  margin-bottom: 120px !important;
}

.mb_160 {
  margin-bottom: 160px !important;
}

.mb_240 {
  margin-bottom: 240px !important;
}

/* margin-left */

.ml_0 {
  margin-left: 0 !important;
}

.ml_5 {
  margin-left: 5px !important;
}

.ml_10 {
  margin-left: 10px !important;
}

.ml_15 {
  margin-left: 15px !important;
}

.ml_20 {
  margin-left: 20px !important;
}

.ml_25 {
  margin-left: 25px !important;
}

.ml_30 {
  margin-left: 30px !important;
}

.ml_35 {
  margin-left: 35px !important;
}

.ml_40 {
  margin-left: 40px !important;
}

.ml_50 {
  margin-left: 50px !important;
}

.ml_80 {
  margin-left: 80px !important;
}

/* margin-right */

.mr_0 {
  margin-right: 0;
}

.mr_5 {
  margin-right: 5px;
}

.mr_10 {
  margin-right: 10px;
}

.mr_15 {
  margin-right: 15px;
}

.mr_20 {
  margin-right: 20px;
}

.mr_25 {
  margin-right: 25px;
}

.mr_30 {
  margin-right: 30px;
}

.mr_40 {
  margin-right: 40px;
}

.mr_50 {
  margin-right: 50px;
}