/* overflow */

.ov {
  overflow: hidden !important;
}

.ov_unset {
  overflow: unset !important;
}

.ov_Y {
  overflow-y: hidden !important;
}

.ov_X {
  overflow-x: hidden !important;
}


.ov_auto {
  overflow: auto !important;
}

.ov_autoX {
  overflow-x: auto !important;
}

.ov_autoY {
  overflow-y: auto !important;
}


.ov_scroll {
  overflow: scroll !important;
}

.ov_scrollX {
  overflow-x: scroll !important;
}

.ov_scrollY {
  overflow-y: scroll !important;
}

