$paddings: (
  increment_4: $increment_step_4,
  increment_20: $increment_to_20_1,
  increment: $increment,
);


/* padding */

@each $k, $v in $paddings {
  @each $key, $value in $v {
    .p_#{$key} {
      padding: #{$value}px !important;
    }

    .pt_#{$key} {
      padding-top: #{$value}px !important;
    }

    .pl_#{$key} {
      padding-left: #{$value}px !important;
    }

    .pr_#{$key} {
      padding-right: #{$value}px !important;
    }

    .pb_#{$key} {
      padding-bottom: #{$value}px !important;
    }

    .p_#{$key}X {
      padding-right: #{$value}px !important;
      padding-left: #{$value}px !important;
    }

    .p_#{$key}Y {
      padding-top: #{$value}px !important;
      padding-bottom: #{$value}px !important;
    }
  }
}