/* position */

.relative {
  position: relative !important;
}

.sticky {
  position: sticky !important;
}

.absolute {
  position: absolute !important;
}

.fixed {
  position: fixed !important;
}

.static {
  position: static !important;
}


/* top */

$positions: (
  increment_4: $increment_step_4,
  increment_20: $increment_to_20_1,
  increment: $increment,
);

/* margin */

@each $k, $v in $positions {
  @each $key, $value in $v {
    .top_#{$key} {
      top: #{$value}px !important;
    }

    .bottom_#{$key} {
      bottom: #{$value}px !important;
    }

    .right_#{$key} {
      right: #{$value}px !important;
    }

    .left_#{$key} {
      left: #{$value}px !important;
    }


    .top-#{$key} {
      top: -#{$value}px !important;
    }

    .bottom-#{$key} {
      bottom: -#{$value}px !important;
    }

    .right-#{$key} {
      right: -#{$value}px !important;
    }

    .left-#{$key} {
      left: -#{$value}px !important;
    }
  }
}

@each $key, $value in $increment_to_100_5 {
  .top_#{$key}p {
    top: #{$value}#{'%'} !important;
  }

  .bottom_#{$key}p {
    bottom: #{$value}#{'%'} !important;
  }

  .right_#{$key}p {
    right: #{$value}#{'%'} !important;
  }

  .left_#{$key}p {
    left: #{$value}#{'%'} !important;
  }
}


.top_unset {
  top: unset !important;
}

.bottom_unset {
  bottom: unset !important;
}

.right_unset {
  right: unset !important;
}

.left_unset {
  left: unset !important;
}


/* Для удобства */

.top {
  top: 0 !important;
}

.bottom {
  bottom: 0 !important;
}

.right {
  right: 0 !important;
}

.left {
  left: 0 !important;
}


/* z-index */

@each $key, $value in $increment_to_100_5 {
  .z_#{$key} {
    z-index: #{$value} !important;
  }
}

.z-1 {
  z-index: -1 !important;
}