
.td_none {
  text-decoration: none !important;
}

.td_underline {
  text-decoration: underline !important;
}

.td_unset {
  text-decoration: unset !important;
}

.td_dotted {
  text-decoration-style: dotted !important;
}

.td_dashed {
  text-decoration-style: dashed !important;
}