/* text-transform */

.text_big {
  text-transform: uppercase !important;
}

.text_low {
  text-transform: lowercase !important;
}

.text_capitalize {
  text-transform: capitalize !important;
}


/* text_align */

.text_start {
  text-align: start !important;
}

.text_center {
  text-align: center !important;
}

.text_end {
  text-align: end !important;
}


/* text_font-weight */

.text_eLight {
  font-weight: 200 !important;
}

.text_eLight-hover:hover {
  font-weight: 200 !important;
}

.text_light {
  font-weight: 300 !important;
}

.text_light-hover:hover {
  font-weight: 300 !important;
}

.text_reg {
  font-weight: 400 !important;
}

.text_reg-hover:hover {
  font-weight: 400 !important;
}

.text_med {
  font-weight: 500 !important;
}

.text_med-hover:hover {
  font-weight: 500 !important;
}

.text_sBold {
  font-weight: 600 !important;
}

.text_sBold-hover:hover {
  font-weight: 600 !important;
}

.text_bold {
  font-weight: 700 !important;
}

.text_bold-hover:hover {
  font-weight: 700 !important;
}

.text_eBold {
  font-weight: 800 !important;
}

.text_eBold-hover:hover {
  font-weight: 800 !important;
}

/* text_font-family */

.text_font-main {
  font-family: var(--font_main) !important;
}

.text_font-sub {
  font-family: var(--font_sub) !important;
}

/* word_break */

.word-break {
  word-break: break-word;
  white-space: normal !important;
}

.word-break-nowrap {
  word-break: break-word;
  white-space: nowrap !important;
}

/* other */

.text_ov {
  text-overflow: ellipsis;

  /* Needed to make it work */
  overflow: hidden;
  white-space: nowrap;
}
