/* opacity */

@each $key, $value in $increment_to_100_5 {
  .opacity_#{$key}p {
    opacity: #{$value}#{'%'} !important;
  }
}

/* Hidden */

.hidden {
  display: none !important;
}

.visible {
  visibility: hidden !important;
}