<div class='modal__wrapper' id='modal_register-hint'>
  <div class='modal card__wrapper maxw_500 minh_300 gap-40 p20-25'>
    <img class='modal__close' id='modal__close' src='../assets/images/close.svg' alt='close'>
    <div class='modal__header m0'>
    </div>

    <div class='modal__content flex_column align_center text_center gap-20'>
      <p class='text_body2 text_bold'>Для того чтобы записаться на тренировку вам необходимо зарегистрироваться</p>
    </div>

    <div class='modal__menu flex_row align_center max_480_column-reverse'>
      <button class='button m0' id='modal__close'>Отмена</button>
      <button class='button button_violet m0' id='modal__close'>Регистрация</button>
    </div>
  </div>
</div>