.flex_row {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: $row_gap;
}

.flex_row-reverse {
  flex-direction: row-reverse;
}

.flex_column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: $column_gap;
}

.flex_column-reverse {
  flex-direction: column-reverse;
}

.flex_wrap {
  display: flex;
  flex-wrap: wrap;
  gap: $wrap_gap;
}


// Новый вариант
.flex {
  display: flex;
  gap: $row_gap;

  align-items: flex-start;
  justify-content: center;

  &.reverse {
    flex-direction: row-reverse;
  }

  &.column {
    flex-direction: column;
  }

  &.column-reverse {
    flex-direction: column-reverse;
  }

  &.wrap {
    flex-wrap: wrap;
  }
}


/* quick align */

.flex_startX {
  display: flex;
  justify-content: flex-start;
  gap: $block_gap;
}

.flex_centerX {
  display: flex;
  justify-content: center;
  gap: $block_gap;
}

.flex_endX {
  display: flex;
  justify-content: flex-end;
  gap: $block_gap;
}

.flex_topY {
  display: flex;
  align-items: flex-start;
  gap: $block_gap;
}

.flex_centerY {
  display: flex;
  align-items: center;
  gap: $block_gap;
}

.flex_bottomY {
  display: flex;
  align-items: flex-end;
  gap: $block_gap;
}