.objf_unset {
  object-fit: unset !important;
}

.objf_none {
  object-fit: none !important;
}

.objf_fill {
  object-fit: fill !important;
}

.objf_cover {
  object-fit: cover !important;
}

.objf_contain {
  object-fit: contain !important;
}


.objp_top {
  object-position: top !important;
}

.objp_bottom {
  object-position: bottom !important;
}

.objp_right {
  object-position: right !important;
}

.objp_left {
  object-position: left !important;
}

.objp_center {
  object-position: center !important;
}

.objp_unset {
  object-position: center !important;
}
