.policy__wrapper {
  .policy__body {
    background: transparent;
    border-radius: 10px;
  }

  .policy__body p,
  .policy__body li {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: var(--gray_700);
    list-style: none;
    list-style-position: inside;
  }

  .policy__body * {
    line-height: 36px !important;
  }

  .policy__body h2, .policy__body h3, .policy__body h4, .policy__body h5, .policy__body h6 {
    font-weight: 700;
    color: var(--gray_700);
    display: inline-block;
    margin-bottom: 24px;
  }

  .policy__body mark {
    background: #fcf8e3;
  }

  .policy__body b {
    font-weight: 600;
    color: var(--gray_700);
  }

  .policy__body i {
    font-weight: 200;
    font-style: italic;
  }

  .policy__body a {
    color: var(--color_active);
    text-decoration: underline;
    cursor: pointer;
  }


  // Если нужно тройная вложенность (прим. 0.0.1)
  /*.policy__body ol {*/
  /*  counter-reset: num;*/
  /*  padding-left: 0;*/
  /*}*/

  /*.policy__body ol li {*/
  /*  counter-increment: num;*/
  /*  padding: 5px;*/
  /*}*/

  /*.policy__body ol li::before {*/
  /*  content: counter(num);*/
  /*  margin-right: 5px;*/
  /*}*/

  /*.policy__body ol ol {*/
  /*  counter-reset: num2;*/
  /*  padding-left: 20px;*/
  /*}*/
  /*.policy__body ol ol > li {*/
  /*  counter-increment: num2;*/
  /*}*/
  /*.policy__body ol ol > li::before {*/
  /*  content: counter(num) '.' counter(num2);*/
  /*}*/

  /*.policy__body ol ol ol {*/
  /*  counter-reset: num3;*/
  /*  padding-left: 20px;*/
  /*}*/

  /*.policy__body ol ol ol > li {*/
  /*  counter-increment: num3;*/
  /*}*/

  /*.policy__body ol ol ol > li::before {*/
  /*  content: counter(num) '.' counter(num2) '.' counter(num3);*/
  /*}*/


  .policy__body ul {
    padding-left: 0;
  }

  .policy__body ol ul,
  .policy__body ul ul {
    padding-left: 40px;
  }

  .policy__body ul li {
    list-style: circle;
    list-style-position: outside;
    padding: 5px;
  }

  .policy__body ul li::before {
    content: '' !important;
    margin: 0;
  }

  .policy__body ul li::marker {
    margin: 0;
  }

  .policy__body ol {
    list-style: none;
  }

  .policy__body li {
    position: relative;
  }

  .policy__body li::before {
    display: inline-block;
  }


  .policy__body ol {
    padding-left: 0;
    counter-reset: num;
  }

  .policy__body ol > li {
    word-break: break-word;
    counter-increment: num;
    padding-left: 5px;
  }

  .policy__body > ol > li {
    list-style: disc;
    list-style-position: inside;
    margin-bottom: 24px;
  }

  .policy__body ol li::before {
    margin-right: 5px;
  }

  .policy__body ol > li::before {
    content: counter(num);
    //content: '';
  }


  .policy__body ol ol {
    counter-reset: num2;
    padding-left: 20px;

  }

  .policy__body ol ol > li {
    counter-increment: num2;
  }

  .policy__body ol ol > li::before {
    content: counter(num) '.' counter(num2);
  }

  /* 3-Ð¹ ÑƒÑ€Ð¾Ð²ÐµÐ½ÑŒ */
  .policy__body ol ol ol {
    counter-reset: num3;
    padding-left: 20px;

  }

  .policy__body ol ol ol > li {
    counter-increment: num3;
  }

  .policy__body ol ol ol > li::before {
    content: counter(num) '.' counter(num2) '.' counter(num3);
  }
}
