
<!-- Include Bootstrap CDN -->
<script src='../assets/js/lib/jquery.js'></script>
<!--  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'>-->
<!--  </script>-->

<!-- Include Moment.js CDN -->
<script type='text/javascript' src='../assets/js/lib/moment.min.js'></script>
<script type='text/javascript' src='../assets/js/lib/moment-with-locales.min.js'></script>


<script src='../assets/js/lib/bootstrap-datetimepicker.min.js'></script>

<script src="../assets/js/lib/choices.min.js"></script>

<script src="../assets/js/lib/imask.js"></script>

<script src="../assets/js/lib/axios.min.js"></script>

<script type="text/javascript" src="../assets/js/lib/toastify-js.js"></script>

<script src='../assets/js/lib/popper.min.js'></script>
<script src='../assets/js/lib/tippy-bundle.umd.js'></script>