<footer class='flex_column'>
  <div class='footer__info flex_row justify_between maxw_container text_body gap-20'>
    <div class='footer__left flex_row'>
      <div class='flex_column gap-40'>
        <div class='footer__logo'>
          <p class='text_title'>siteName</p>
        </div>
        <div class='block_centerY gap_5'>
          <img class='w_100p h_100p' src='../assets/images/icon/map.svg' alt='map'>
          <p>address</p>
        </div>
      </div>

      <div class='flex_row footer__menu'>
        <a href='' class='text_body text_med'>Главная</a>
        <a href='' class='text_body text_med'>Преимущества</a>
        <a href='' class='text_body text_med'>Акции</a>
      </div>
    </div>

    <div class='footer__right flex_column gap-40 align_end'>

      <div class='flex_row align_center gap_20 full-width justify_end'>
        <img src='../assets/images/icon/social/telegram.svg' alt='telegram'>

        <a href='tel:+71234567890' class='text_secondary_200-h'>
          <div class='flex_row align_center gap_5'>
            <img src='../assets/images/icon/phone.svg' alt='phone'>
            <p class='text_body text_vBold text_inherit-h'>+7 (123) 456-78-90</p>
          </div>
        </a>
      </div>

      <a href='policy.html' class='text_gray_0'>Политика конфиденциальности</a>
    </div>

  </div>
</footer>
