<header class='header shadow_default w_100p'>
  <div class='header__wrapper w_100p h_100p'>
    <div class='flex_row justify_start align_center'>
      <div class='flex_row gap-20 fit-content align_center'>
        <a href='./'>
          <h4 class='text_eBold'>Logo | SiteName</h4>
        </a>
      </div>
    </div>

    <div class='flex_row'>
      <a href='./' class='text_title text_bold'>Главная</a>
      <a href='' class='text_title text_bold'>Контакты</a>
      <a href='' class='text_title text_bold'>Тех. Поддержка</a>
    </div>

    <div class='flex_row align_center justify_end'>
      <div class='flex_row align_center'>
        <a href='tel:+71234567890' class='text_secondary_200-h'>
          <div class='flex_row align_center gap_5'>
            <img src='../assets/images/icon/phone.svg' alt='phone'>
            <p class='text_body text_vBold text_inherit-h'>+7 (123) 456-78-90</p>
          </div>
        </a>
      </div>

      <a href='auth-page.html'>
        <button class='button image_centerX gap_15 m0'>
          <span class='text_note text_bold text_gray_700'>Вход</span>
        </button>
      </a>
    </div>
  </div>
</header>