<div class='overlay hidden'></div>

<div class='menu flex_column maxw_800 gap-40 p40 justify_start hidden'>
  <div class='header__small flex_row full-width justify-space align_center p10 bg_gray_600 min_640 gap-10'>
    <a href='tel:73912859876'>
      <div class='flex_row align_center gap-10'>
        <img src='{{root}}assets/images/call.svg' alt='phone'>
        <p class='text_small text_vBold'>+7 (800) 800-98-76</p>
      </div>
    </a>

    <a href='auth-page.html'>
      <button class='button button_gradient button_svg m0 minh_30 h_30 p10'>
        <span class='text_small text_gray_700 text_med'>Вход</span>
        <img src='{{root}}assets/images/auth.svg' alt='auth'>
      </button>
    </a>
  </div>

  <div class='menu__block flex_row align_center justify_start gap-60'>
    <img src='{{root}}assets/images/close_big.svg' alt='close_menu'>

    <div class='flex_row gap-20 align_center'>
      <a href='./'>
        <p class='text_title text_eBold text_gradient word-break'>siteName</p>
      </a>

      <div class='image_align word-break-wrap max_480'>
        <img src='{{root}}assets/images/map.svg' alt='Sup'>
        <p>address</p>
      </div>
    </div>
  </div>

  <p class='divider max_480'></p>

  <div class='flex_column gap-40 mt_40'>
    <h3 class='text_bold'>О нас</h3>
    <h3 class='text_bold'>Преимущества</h3>
    <h3 class='text_bold'>Для кого</h3>
    <h3 class='text_bold'>Как проходит тренировка</h3>
  </div>

  <p class='divider min_480 mt_20'></p>

  <div class='image_align justify_center word-break-wrap min_480 mt_20'>
    <img src='{{root}}assets/images/map.svg' alt='Sup'>
    <p>address</p>
  </div>
</div>
