<div class='sidebar__wrapper flex_column align_center gap-40 '>
  <div class='sidebar flex_column gap-20'>
    <a href='profile.html' class='flex_column maxw_180 text_vBold-hover gap-20 active'>
      Личные данные
      <p class='divider'></p>
    </a>

    <a href='training.html' class='flex_column maxw_180 text_vBold-hover gap-20'>
      Мои тренировки
      <p class='divider'></p>
    </a>

    <a href='training_null.html' class='flex_column maxw_180 text_vBold-hover gap-20'>
      Мои тренировки (0)
      <p class='divider'></p>
    </a>

    <a href='feedback.html' class='flex_column maxw_180 text_vBold-hover gap-20'>
      Обратная связь
      <p class='divider'></p>
    </a>


    <div class='sidebar__buttons'>
      <a href='reservation.html'>
        <button class='button full-width mt_5'>Забронировать</button>
      </a>
    </div>
  </div>

  <a href='auth-page.html' class='image_align fit-content'>
    <img src='../assets/images/exit.svg' alt='exit'>
    <p class='text_gray_400 text_note text_med'>Выйти</p>
  </a>

  {{> menu }}
</div>