@use "sass:map";

/* Block */
$row_gap: 30px;
$column_gap: 10px;
$wrap_gap: 10px 10px;


:root {
  --transition-delay: 0.3s;
}

/* Card */
.card {
  --card_padding: 40px;
  --card_radius: 0;
  --card_gap: 20px;
  --card_bg: transparent;
  --card_outline: 1px solid transparent;
}

/* Button */
.button {
  --button-height: unset;
  --button-padding: 5px 20px;
  --button-margin: 0;
  --button-icon-margin: 0 2px;

  --button-font-family: #{$font_main};
  --button-font-weight: 500;
  --button-font-size: 16px;

  --button-border: 1px solid transparent;
  --button-border-radius: 4px;


  --main-color: var(--gray_700);
  --main-color-hover: var(--gray_700);
  --main-bg: var(--primary_100);
  --main-bg-hover: var(--primary_0);

  --sub-color: var(--gray_700);
  --sub-color-hover: var(--gray_700);
  --sub-bg: var(--secondary_100);
  --sub-bg-hover: var(--secondary_0);


  @each $k, $v in $button_size {
    --button-#{$k}-padding: #{map.get($v, "padding")};
    --button-#{$k}-height: #{map.get($v, "height")};
    --button-#{$k}-border: #{map.get($v, "border")};
    --button-#{$k}-border-radius: #{map.get($v, "border-radius")};
    --button-#{$k}-font-size: #{map.get($v, "font-size")};
    --button-#{$k}-font-weight: #{map.get($v, "font-weight")};
  }
}

.select {
  --select-container-radius: 4px;
  --select-dropdown-radius: 4px;
  --select-badge-radius: 4px;

  --select-container-padding: 5px 10px;
  --select-container-height: 40px;

  --main-color: var(--gray_700);
  --main-color-hover: var(--gray_700);
  --main-bg: var(--primary_100);
  --main-bg-hover: var(--primary_0);

  --sub-color: var(--gray_700);
  --sub-color-hover: var(--gray_700);
  --sub-bg: var(--secondary_100);
  --sub-bg-hover: var(--secondary_0);


  @each $k, $v in $select_size {
    --select-#{$k}-height: #{map.get($v, "select-height")};
    --select-#{$k}-padding: #{map.get($v, "select-padding")};
    --select-#{$k}-radius: #{map.get($v, "select-radius")};
  }
}

/* Input */
.block_input {
  --input-color-focus: 1px solid var(--gray_600);
  --input-color-text: var(--gray_300);
  --input-border: 1px solid transparent;
  --input-bg: #F7F7F7;
  --input-disable: #FFFFFF;

  --input-padding: 5px 20px;
  --input-margin: 0;
  --input-radius: 4px;
  --input-height: unset;

  --textarea-margin: 5px 0 0 0;
  --textarea-minh: 150px;
}

/* Divider */
.divider {
  --divider: rgba(0, 0, 0, 0.12);
  --divider-75p: rgba(0, 0, 0, 0.09);
  --divider-50p: rgba(0, 0, 0, 0.06);
  --divider-25p: rgba(0, 0, 0, 0.03);
}

.switch {
  --switch-track-width: 46px;
  --switch-track-height: 22px;
  --switch-track-padding: 2px;

  --switch-ball-width: 18px;
  --switch-ball-height: 18px;

  --switch-track-bg: rgba(0, 0, 0, .25);
  --switch-track-border: 1px solid #00000020;

  --switch-radius: 25px;

  --main-color: var(--gray_700);
  --main-color-hover: var(--gray_600);
  --main-bg: var(--primary_100);
  --main-bg-hover: var(--primary_0);

  --sub-color: var(--gray_700);
  --sub-color-hover: var(--gray_600);
  --sub-bg: var(--secondary_100);
  --sub-bg-hover: var(--secondary_0);


  @each $k, $v in $select_size {
    --switch-#{$k}-track-width: #{map.get($v, "switch-track-width")};
    --switch-#{$k}-track-height: #{map.get($v, "switch-track-height")};
    --switch-#{$k}-track-padding: #{map.get($v, "switch-track-padding")};
    --switch-#{$k}-ball-width: #{map.get($v, "switch-ball-width")};
    --switch-#{$k}-ball-height: #{map.get($v, "switch-ball-height")};
    --switch-#{$k}-radius: #{map.get($v, "switch-radius")};
  }
}

/* Policy */
.policy__wrapper {
  --policy-color-text-bold: var(--text_color);
  --policy-color-text: var(--text_color);
  --policy-lh: 140%;
  --policy-fs-main: 20px;
  --policy-fw-main: 500;
  --policy-fw-h: 600;
}

/* Sidebar */
.sidebar {
  --sidebar-bg: transparent;
  --sidebar-maxw: 270px;
  --sidebar-padding: 0 0 20px 0;
  --sidebar-radius: 0px;
}

/* Header */
.header {
  --header-bg: var(--gray_700);
  --header-color-text: var(--text_color);
  --header-height: 70px;
}

/* Footer */
.footer {
  --footer-bg: transparent;
  --footer-padding: 30px 0;
  --footer-color-text: var(--text_color);
}

/* Table */
.table__wrapper {
  --table-thead-bb: transparent;
  --table-border-radius: 16px;
}


.form-control {
  --form-control-box: 16px;
  --form-control-check: 10px;
  --form-control-radius: 2px;
  --form-control-border: 1px solid;


  --main-bg: var(--primary_100);
  --main-bg-hover: var(--primary_0);

  --sub-bg: var(--secondary_100);
  --sub-bg-hover: var(--secondary_0);


  @each $k, $v in $checkbox_size {
    --form-control-box-#{$k}: #{map.get($v, "form-control-box")};
    --form-control-check-#{$k}: #{map.get($v, "form-control-check")};
    --form-control-radius-#{$k}: #{map.get($v, "form-control-radius")};
  }
}
