/* Shadow */
:root {
  --shadow_default: 0px 5px 10px rgba(61, 61, 61, 0.08);
  --shadow_big: 0px 5px 10px rgba(61, 61, 61, 0.3);
  --shadow_biggest: 0px 5px 10px rgba(61, 61, 61, 0.4);
  --shadow_accordion: 0px 5px 20px 0px rgba(0, 0, 0, 0.20);

  --shadow_button: none;
  --shadow_button_hover: none;
}