@use "sass:map";


// Main style
.button {
  height: var(--button-height);

  margin: var(--button-margin);
  padding: var(--button-padding);

  font-family: var(--button-font-family);
  font-weight: var(--button-font-weight);
  font-size: var(--button-font-size);
  line-height: normal;
  text-align: center;

  border: var(--button-border);
  border-radius: var(--button-border-radius);

  user-select: none;
  -webkit-user-drag: none;

  transition: 0.3s ease;

  &:not([style*="display: flex"]) * {
    vertical-align: middle;
    margin: var(--button-icon-margin);
  }

  &.disabled {
    cursor: default;
    pointer-events: none;
  }

  // Size
  @each $k, $v in $size_map {
    &.#{$k} {
      height: var(--button-#{$k}-height);
      padding: var(--button-#{$k}-padding);
      border: var(--button-#{$k}-border);
      border-radius: var(--button-#{$k}-border-radius);
      font-size: var(--button-#{$k}-font-size);
      font-weight: var(--button-#{$k}-font-weight);
    }
  }
}


// Colors
@each $k, $v in $components_colors {
  .button#{$k} {
    background: map.get($v, "main-color");
    color: map.get($v, "sub-color");

    & * {
      color: map.get($v, "sub-color");
    }

    &:hover {
      background: map.get($v, "main-color-hover");
      color: map.get($v, "sub-color-hover");

      & * {
        color: map.get($v, "sub-color");
      }
    }

    &.outline {
      background: map.get($v, "sub-color");
      color: map.get($v, "main-color");
      border-color: map.get($v, "main-color");

      & * {
        color: map.get($v, "sub-color");
      }

      &:hover {
        background: map.get($v, "sub-color-hover");
        color: map.get($v, "main-color-hover");
        border-color: map.get($v, "main-color-hover");

        & * {
          color: map.get($v, "sub-color");
        }
      }
    }

    &.text {
      background: unset;
      color: map.get($v, "main-color");

      & * {
        color: map.get($v, "sub-color");
      }

      &:hover {
        background: map.get($v, "sub-color-hover");
        color: map.get($v, "main-color-hover");

        & * {
          color: map.get($v, "sub-color");
        }
      }
    }
  }
}
