@use "sass:map";


.switch {
  cursor: pointer;

  &__track {
    position: relative;
    display: flex;
    align-items: center;

    min-width: var(--switch-track-width);
    height: var(--switch-track-height);
    padding: var(--switch-track-padding);
    background-color: var(--switch-track-bg);
    border: var(--switch-track-border);
    border-radius: var(--switch-radius);

    transition: var(--transition-delay);
    pointer-events: none;

    &::after {
      content: " ";

      position: relative;
      top: 0;
      left: 0;

      width: var(--switch-ball-width);
      height: var(--switch-ball-height);
      background-color: #fff;
      border-radius: var(--switch-radius);
      transition: var(--transition-delay) ease-in-out;
    }
  }
  
  &.disabled {
    cursor: default;
  }

  &.active &__track {
    background-color: #1890ff;

    &:after {
      transform: translateX(
          calc(var(--switch-track-width) - var(--switch-ball-width) - (var(--switch-track-padding) * 2))
      )
    }
  }
}


// Size
@each $k, $v in $size_map {
  .switch.#{$k} {
    //height: var(--sw#{$k}-height);
    .switch__track {
      min-width: var(--switch-#{$k}-track-width);
      height: var(--switch-#{$k}-track-height);
      padding: var(--switch-#{$k}-track-padding);
      border-radius: var(--switch-#{$k}-radius);

      &::after {
        width: var(--switch-#{$k}-ball-width);
        height: var(--switch-#{$k}-ball-height);

        border-radius: var(--switch-#{$k}-radius);
      }
    }

    &.active .switch__track::after {
      transform: translateX(
          calc(var(--switch-#{$k}-track-width) - var(--switch-#{$k}-ball-width) - (var(--switch-#{$k}-track-padding) * 2))
      )
    }
  }
}

//// Colors
@each $k, $v in $components_colors {
  .switch#{$k} {
    .switch__track {
      background-color: map.get($v, "sub-color");

      &::after {
        background: map.get($v, "main-color");
      }
    }

    &:hover .switch__track {
      background-color: map.get($v, "sub-color-hover");
    }

    &.active {
      .switch__track {
        background-color: map.get($v, "main-color");

        &::after {
          background-color: map.get($v, "sub-color");
        }
      }

      &:hover .switch__track {
        background-color: map.get($v, "main-color-hover");
      }
    }
  }
}