.accordion {
  position: relative;
  width: fit-content;
  user-select: none;
  text-align: left;
  border: none;
  outline: none;
  padding: 5px 0;

  &_transition &__panel, &_transition + &__panel {
    transition: 0.3s ease-in-out;
    overflow: hidden;
  }

  &__open {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    user-select: none;
    cursor: pointer;

    * {
      pointer-events: none;
    }

    & .arrow {
      transition: transform 0.3s ease;
    }

    &.active .arrow {
      &_rotate_180 {
        transform: rotate(180deg);
      }

      &_rotate_90 {
        transform: rotate(90deg);
      }

      &_rotate-180 {
        transform: rotate(180deg);
      }

      &_rotate-90 {
        transform: rotate(90deg);
      }

      &_mirrorX {
        transform: scale(-1, 1);
      }

      &_mirrorY {
        transform: scale(1, -1);
      }
    }
  }

  &__panel {
    max-height: 0;

    &_absolute {
      position: absolute;
      top: 50px;
      z-index: 1000;
    }

    &_absolute_bottom {
      position: absolute;
      bottom: 50px;
      z-index: 10;
      padding: 15px 0 !important;
    }
  }
}


.accordion__absolute {
  width: 100%;
  position: absolute;
  top: 50px;
  z-index: 15;
}

.accordion__overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
}

.accordion__panel {
  z-index: 200;
  overflow: hidden;

  &.fade {
    max-height: unset !important;
    opacity: 0;
    transition: opacity 0.2s, opacity 0.5s ease-in;
    z-index: -10;

    &.active {
      opacity: 1;
      z-index: 10;
    }
  }

  &.active ~ .accordion__overlay {
    display: flex;
  }

  &_absolute {
    position: absolute;
    top: 50px;
    z-index: 10;
  }

  &_absolute_bottom {
    position: absolute;
    bottom: 50px;
    z-index: 10;
    padding: 15px 0 !important;
  }
}
